@charset "UTF-8";
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-x: hidden;
}

button, input, select, textarea {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
$color-fund-postal: #007D32;
$color-fund-insurance: #8F6400;
$color-fund-labor: #C23C30;
$color-fund-retire: #0549A1;
*/
body {
  font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  background-color: #F3F2EF;
  background-size: 1024px;
  min-height: 100vh;
  color: #3B4048;
  padding: 0;
  padding-top: env(safe-area-inset-top);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.33rem;
  line-height: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #54677B;
  margin: 0 0 1.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0 0 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 0.75rem 0;
}
p em {
  font-weight: 700;
  font-style: normal;
}
p small {
  font-size: 0.875rem;
}
p .underline {
  text-decoration: underline;
}

a {
  color: #3B4048;
}

.color-black-bk {
  background-color: #000000;
}

.color-white-bk {
  background-color: #FFFFFF;
}

.color-transparent-bk {
  background-color: rgba(255, 255, 255, 0);
}

.color-black {
  color: #000000;
}

.color-white {
  color: #FFFFFF;
}

.color-neutral-1000-bk {
  background-color: #1C1E22;
}

.color-neutral-900-bk {
  background-color: #3B4048;
}

.color-neutral-800-bk {
  background-color: #646D7A;
}

.color-neutral-700-bk {
  background-color: #7F8A9B;
}

.color-neutral-600-bk {
  background-color: #98A0AE;
}

.color-neutral-500-bk {
  background-color: #ACB4BE;
}

.color-neutral-400-bk {
  background-color: #BFC4CD;
}

.color-neutral-300-bk {
  background-color: #CFD3DA;
}

.color-neutral-200-bk {
  background-color: #DEE1E5;
}

.color-neutral-100-bk {
  background-color: #ECEEF0;
}

.color-neutral-50-bk {
  background-color: #FAFAFA;
}

.color-neutral-1000 {
  color: #1C1E22;
}

.color-neutral-900 {
  color: #3B4048;
}

.color-neutral-800 {
  color: #646D7A;
}

.color-neutral-700 {
  color: #7F8A9B;
}

.color-neutral-600 {
  color: #98A0AE;
}

.color-neutral-500 {
  color: #ACB4BE;
}

.color-neutral-400 {
  color: #BFC4CD;
}

.color-neutral-300 {
  color: #CFD3DA;
}

.color-neutral-200 {
  color: #DEE1E5;
}

.color-neutral-100 {
  color: #ECEEF0;
}

.color-neutral-50 {
  color: #FAFAFA;
}

.icon {
  display: inline-block;
  background-size: cover;
}
.icon.size-48 {
  width: 48px;
  height: 48px;
}
.icon.size-36 {
  width: 36px;
  height: 36px;
}
.icon.size-24 {
  width: 24px;
  height: 24px;
}
.icon.size-16 {
  width: 16px;
  height: 16px;
}
.icon.size-12 {
  width: 12px;
  height: 12px;
}
.icon.right-default {
  background-image: url("../images/icon-right-default.png");
}
.icon.down-default {
  background-image: url("../images/icon-down-default.png");
}
.icon.dropdown-default {
  background-image: url("../images/icon-dropdown-default.png");
}
.icon.dropdown-collapse {
  background-image: url("../images/icon-dropdown-collapse.png");
}
.icon.right-ejf {
  background-image: url("../images/icon-right-ejf.png");
}
.icon.down-ejf {
  background-image: url("../images/icon-down-ejf.png");
}
.icon.download-ejf {
  background-image: url("../images/icon-download-ejf.png");
}
.icon.right-white {
  background-image: url("../images/icon-right-white.png");
}
.icon.down-white {
  background-image: url("../images/icon-down-white.png");
}
.icon.download-white {
  background-image: url("../images/icon-download-white.png");
}
.icon.heart-white {
  background-image: url("../images/icon-heart-white.png");
}
.icon.copy-white {
  background-image: url("../images/icon-copy-white.png");
}
.icon.facebook {
  background-image: url("../images/icon-facebook.png");
}
.icon.line {
  background-image: url("../images/icon-line.png");
}
.icon.linkedin {
  background-image: url("../images/icon-linkedin.png");
}
.icon.instagram {
  background-image: url("../images/icon-instagram.png");
}

hr {
  display: block;
  height: 1px;
  border-width: 0 0 1px 0;
  width: 100%;
  margin: 0;
}
hr.divider-default {
  border-color: #98A0AE;
  margin: 1.25rem 0;
}
hr.divider-receipt {
  border-style: dashed;
  border-color: #98A0AE;
  margin: 0.75em 0;
}

span.watermark {
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  color: #E30613;
  opacity: 0.16;
  border-radius: 4px;
  border: 1px solid #E30613;
  font-size: 1rem;
}

.select-wrapper, .input-wrapper {
  width: 100%;
  /*
  .help {
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
    color: $color-ejf-red;

    visibility: hidden;
  }

  &.is-error {
    .help { visibility: visible; }
    input, select { border-color: $color-ejf-red; }
  }
  */
}
.select-wrapper .required-mark, .input-wrapper .required-mark {
  color: #E30613;
}
.select-wrapper .required-mark::before, .input-wrapper .required-mark::before {
  content: "*";
  margin-right: 0.25rem;
}
.select-wrapper label, .input-wrapper label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
  display: block;
}
.select-wrapper select, .select-wrapper input[type=text], .select-wrapper input[type=number], .input-wrapper select, .input-wrapper input[type=text], .input-wrapper input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: 1px solid #ACB4BE;
  border-radius: 4px;
  padding: 0.65rem 1rem;
  background-color: transparent;
  font-size: 1rem;
}
.select-wrapper select, .input-wrapper select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2398A0AE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px;
  padding-right: 2.5rem;
}

button.big-btn, a.big-btn {
  border-radius: 2px;
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.75rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  border: 2px solid #E30613;
  background-color: #f90c1a;
  transition: background-color 0.3s ease;
}
button.big-btn:hover, a.big-btn:hover {
  background-color: #e30613;
}
button.big-btn:click, a.big-btn:click {
  background-color: #f90c1a;
}
button.big-btn::after, a.big-btn::after {
  background-size: 100%;
  content: "";
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
}
button.big-btn.btn-calculate::after, a.big-btn.btn-calculate::after {
  background-image: url("../images/icon-right-white.png");
}
button.big-btn.btn-share::after, a.big-btn.btn-share::after {
  background-image: url("../images/icon-heart-white.png");
}
button.big-btn.btn-download::after, a.big-btn.btn-download::after {
  background-image: url("../images/icon-download-white.png");
}
button.big-btn.btn-copy::after, a.big-btn.btn-copy::after {
  background-image: url("../images/icon-copy-white.png");
}
button.big-btn.btn-back::after, a.big-btn.btn-back::after {
  background-image: url("../images/icon-right-white.png");
}
button.big-btn.btn-back, a.big-btn.btn-back {
  text-align: right;
}
button.big-btn.btn-back::after, a.big-btn.btn-back::after {
  transform: rotate(180deg);
  left: 1rem;
  right: auto;
}
button.big-btn.color-gray, a.big-btn.color-gray {
  border-color: #3B4048;
  background-color: #4c535d;
}
button.big-btn.color-gray:hover, a.big-btn.color-gray:hover {
  background-color: #3b4048;
}
button.big-btn.color-gray:click, a.big-btn.color-gray:click {
  background-color: #4c535d;
}

.calculator-wrapper {
  width: 100%;
  padding: 1.25rem;
  border: 1px solid rgba(28, 30, 34, 0.08);
  box-shadow: -8px 16px 40px rgba(28, 30, 34, 0.08);
  background-color: #FFFFFF;
  color: #3B4048;
  position: relative;
  margin: 0 auto;
}
.calculator-wrapper .calculator-title {
  font-size: 0.875rem;
  line-height: 1em;
  color: #FFFFFF;
  background-color: #54677B;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.33rem 0.4rem;
  left: -1px;
  top: -1px;
  position: absolute;
}
.calculator-wrapper .calculator-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
}
.calculator-wrapper .calculator-content .input-wrapper, .calculator-wrapper .calculator-content button.big-btn {
  flex: 1 1 auto;
}
@media (min-width: 720px) {
  .calculator-wrapper .calculator-content {
    flex-direction: row;
    gap: 0.75rem;
  }
  .calculator-wrapper .calculator-content .big-btn {
    margin-bottom: 0;
    height: calc(2.5rem + 2px);
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.33rem;
  }
  .calculator-wrapper .calculator-content .input-wrapper, .calculator-wrapper .calculator-content button.big-btn {
    flex-basis: 140px;
  }
}

button.btn-fund {
  all: unset;
  box-sizing: border-box;
  padding: 0.5em 0;
  text-align: center;
  cursor: pointer;
  background-color: #F3F2EF;
  z-index: 1;
  width: calc(5.5rem + 3px);
  border-radius: 8px;
  border: 1.5px dashed #98A0AE;
}
button.btn-fund p {
  line-height: 1em;
  font-size: 1rem;
  color: #98A0AE;
  margin: 0;
}
button.btn-fund[data-on=true] {
  border-style: solid;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}
button.btn-fund[data-on=true][data-fund=legacy] {
  border-color: #007D32;
}
button.btn-fund[data-on=true][data-fund=legacy] p {
  color: #007D32;
}
button.btn-fund[data-on=true][data-fund=insurance] {
  border-color: #C23C30;
}
button.btn-fund[data-on=true][data-fund=insurance] p {
  color: #C23C30;
}
button.btn-fund[data-on=true][data-fund=labor] {
  border-color: #AD7900;
}
button.btn-fund[data-on=true][data-fund=labor] p {
  color: #AD7900;
}
button.btn-fund[data-on=true][data-fund=retire] {
  border-color: #0549A1;
}
button.btn-fund[data-on=true][data-fund=retire] p {
  color: #0549A1;
}

.marquee-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 40px;
  position: relative;
  background-color: rgba(28, 30, 34, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(28, 30, 34, 0.1);
  opacity: 0.9;
}
.marquee-wrapper .marquee-content {
  width: 2600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0;
  animation: marquee 26s linear infinite;
}
.marquee-wrapper .marquee-content:nth-child(2) {
  left: 2600px;
}
.marquee-wrapper .marquee-content span {
  color: #3B4048;
  font-size: 1rem;
  line-height: 1.25rem;
  white-space: nowrap;
}
.marquee-wrapper .marquee-content span a {
  text-decoration: underline;
}
.marquee-wrapper .marquee-content .marquee-divider {
  text-align: center;
  color: rgba(28, 30, 34, 0.2);
}
.marquee-wrapper .marquee-content .marquee-divider:after {
  content: "|";
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2600px);
  }
}
.receipt-box {
  width: 100%;
  padding: 2rem 1.25rem 1.5rem;
  box-shadow: -8px 16px 40px rgba(28, 30, 34, 0.08);
  background: #FFFFFF;
  font-family: "Noto Sans Mono", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5em;
  position: relative;
}
.receipt-box::after {
  content: " ";
  display: block;
  width: 100%;
  height: 10px;
  background-image: url("../images/receipt_bottom.png");
  background-size: 320px 10px;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.receipt-box .receipt-section {
  width: 100%;
}
.receipt-box .receipt-section p {
  font-size: inherit;
  line-height: 1.5em;
  margin: inherit;
}
.receipt-box .receipt-section .small {
  font-size: 0.85em;
}
.receipt-box .receipt-section .big {
  font-size: 1.66em;
}
.receipt-box .receipt-section .un-mono {
  font-family: "Noto Sans TC", sans-serif;
}
.receipt-box .receipt-section .loss {
  color: #E30613;
}
.receipt-box .receipt-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.receipt-box .receipt-row-center {
  text-align: center;
}
.receipt-box .receipt-name {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5em;
}
.receipt-box .receipt-title {
  font-weight: 700;
}
.receipt-box .chart-section {
  margin: 1em 0;
}
.receipt-box .chart-row {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
.receipt-box .chart-row .chart-image {
  height: 94px;
  width: 94px;
  margin-right: 1em;
}
.receipt-box .chart-row .chart-text p {
  line-height: 1.25em;
  margin-bottom: 0.25em;
}
.receipt-box .chart-row .small {
  font-size: 0.8em;
}
.receipt-box .receipt-table {
  line-height: 1.5em;
  font-size: 0.85em;
  line-height: 1.25em;
}
.receipt-box .receipt-table .grid-row-3 {
  display: grid;
  grid-template-columns: 6.5em 1fr 1fr;
  gap: 0.5em 0.75em;
  padding: 0.66em 0;
  border-bottom: 1px solid #F3F2EF;
  text-align: right;
}
.receipt-box .receipt-table .grid-row-3.dark-border {
  border-color: #98A0AE;
}
.receipt-box .receipt-table .grid-row-3:first-of-type {
  padding-top: 0.25em;
}
.receipt-box .receipt-table .grid-row-3:last-of-type {
  border-bottom: none;
  padding-bottom: 0.25em;
}
.receipt-box .receipt-table .row-13 {
  grid-row: 1/3;
}
.receipt-box .receipt-table .col-14 {
  grid-column: 1/4;
}
.receipt-box .receipt-table .title {
  font-weight: 700;
}
.receipt-box .receipt-table .text-left {
  text-align: left;
}
.receipt-box .receipt-table .v-middle {
  align-self: center;
}
.receipt-box .receipt-table .v-bottom {
  align-self: flex-end;
}
.receipt-box .receipt-bottom {
  align-items: center;
}
.receipt-box .receipt-bottom p {
  line-height: 1.5em;
  text-align: center;
}
.receipt-box .receipt-bottom a {
  text-decoration: underline;
  text-align: right;
  display: inline-block;
  padding-top: 1em;
}
.receipt-box .receipt-bottom img {
  width: 80px;
  height: 80px;
  position: relative;
  right: -8px;
}
.receipt-box .receipt-funds {
  position: relative;
}
.receipt-box .receipt-funds:after {
  content: "不是投資失誤，而是隱藏代價";
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  color: #E30613;
  opacity: 0.16;
  border-radius: 4px;
  border: 1px solid #E30613;
  font-size: 1rem;
  position: absolute;
  top: 0.2rem;
  margin-left: 1em;
}

/* 基本版面 CSS */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 2rem;
  justify-content: center;
}

#result-column {
  padding-top: 2rem;
  flex-wrap: wrap-reverse;
}

#chart-column {
  flex: 1 1 320px;
}

#receipt-column {
  flex: 0 1 320px;
}

@media (max-width: 719px) {
  #receipt-column {
    flex-grow: 1;
  }
}
#page-header {
  padding: 2rem 0.5rem 0 1.5rem;
}

#page-header .title-link {
  text-decoration: none;
}
#page-header #title {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin: 0;
  position: relative;
}
#page-header #title img {
  height: 62px;
  width: 104px;
  margin-right: 0.2em;
  position: relative;
  top: 0.25rem;
}
@media (max-width: 520px) {
  #page-header #title {
    flex-direction: column;
  }
}
#page-header #title img, #page-header #title .title-text {
  z-index: 1;
}
#page-header #title .title-decoration {
  z-index: 0;
}
#page-header #title .title-decoration {
  position: absolute;
  left: 0;
  top: 0.25rem;
  height: 0;
  pointer-events: none;
  opacity: 0.4;
}
#page-header #title .title-decoration::before, #page-header #title .title-decoration::after {
  content: "";
  position: absolute;
  background: #698099;
}
#page-header #title .title-decoration::before {
  left: -50vw;
  right: -50vw;
  top: 2rem;
  height: 1px;
  width: 200vw;
}
#page-header #title .title-decoration::after {
  left: 2rem;
  top: -75px;
  width: 1px;
  height: var(--decoration-height, 150vh);
}
#page-header #title .title-text span, #page-header #title .title-text em {
  white-space: nowrap;
}
#page-header #title .title-text em {
  font-style: normal;
  border: 2.5px solid #E30613;
  padding: 0 0.1em;
  margin: 0 -0.1em;
}

#subtitle {
  margin: 0 0 2.5rem;
  border-right: 1px solid #3B4048;
  display: inline-block;
  padding-right: 1em;
  position: relative;
}
#subtitle .large {
  font-size: 1.75rem;
}
#subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(100vw - 100%);
  height: 1px;
  background-color: #3B4048;
  transform: translateY(-50%);
}

#marquee {
  margin-top: 2rem;
}

#chart-column .hint {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 0.9em;
}
@media (min-width: 720px) {
  #chart-column .hint {
    display: none;
  }
}
#chart-column #fund-buttons {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 720px) and (max-width: 799px), (max-width: calc(27.25rem + 12px - 1px)) {
  #chart-column #fund-buttons {
    flex-wrap: wrap;
    max-width: calc(12rem + 6px);
  }
}
#chart-column #return-chart {
  width: calc(100% + 1rem);
  height: 450px;
  margin-left: -1rem;
}
#chart-column #return-chart canvas {
  width: 100% !important;
  height: 100% !important;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: none;
}
.lightbox.show {
  display: flex;
}
.lightbox .lightbox-content {
  background: linear-gradient(135deg, #FFFFFF, #e0e0e0);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(28, 30, 34, 0.08);
  max-width: 90vw;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding: 2rem;
  color: #3B4048;
}
.lightbox .lightbox-content p {
  margin-bottom: 0.5rem;
}
.lightbox .lightbox-content .close-x {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1em;
  z-index: 1;
  font-family: "Noto Sans Mono", sans-serif;
  transition: all 0.3s ease;
  padding: 0.5rem;
  color: #7F8A9B;
}
.lightbox .lightbox-content .close-x:hover {
  color: #1C1E22;
}

#lightbox-share .lightbox-columns {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  #lightbox-share .lightbox-columns {
    flex-direction: column-reverse;
  }
}
#lightbox-share .lightbox-left, #lightbox-share .lightbox-right {
  flex: 1 1 320px;
}
#lightbox-share .lightbox-right {
  flex-shrink: 0;
}
#lightbox-share .lightbox-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}
#lightbox-share .lightbox-left p {
  margin-top: 0;
}
#lightbox-share .lightbox-left .share-section {
  max-width: 320px;
  width: 100%;
}
#lightbox-share .lightbox-left .share-btns {
  display: flex;
  margin: 1.5rem 0;
  justify-content: space-between;
}
#lightbox-share .lightbox-left .share-btns a {
  display: inline-block;
  width: 48px;
  height: 48px;
}
#lightbox-share .lightbox-left .back-section {
  margin-top: auto;
  width: 100%;
  max-width: 320px;
}
#lightbox-share .lightbox-left button.big-btn {
  max-width: 100%;
}
#lightbox-share h4 {
  margin: 0;
  line-height: 1.5rem;
}
#lightbox-share #lightbox-receipt-container .receipt-download {
  display: none;
}

#page-mail {
  padding-top: 1.5rem;
}
#page-mail h4 {
  text-align: center;
  line-height: 1.66em;
  margin-bottom: 1.5rem;
}
#page-mail h4 em {
  color: #E30613;
  font-style: normal;
  padding-left: 0.25em;
}
#page-mail #mail-container {
  margin-top: 2em;
}
#page-mail #mail-switch {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
#page-mail .mail-content-template {
  padding: 1.5rem 1.5rem 0.875rem;
  background: #FFFFFF;
  position: relative;
  height: 8.5em;
  overflow: scroll;
  border: 1px solid #CFD3DA;
  box-shadow: inset 0 -2px 0.5em #CFD3DA;
}
#page-mail .mail-actions {
  display: flex;
  gap: 0.75rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
#page-mail .mail-actions button, #page-mail .mail-actions a {
  width: 100%;
  max-width: 280px;
  font-size: 1.25rem;
}

#page-calculator .calculator-intro {
  margin-bottom: 2rem;
}
#page-calculator .calculator-intro a {
  text-decoration: none;
}
#page-calculator .calculator-intro .small {
  font-size: 0.875em;
}

#page-intro {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(28, 30, 34, 0.1);
}
#page-intro .columns {
  flex-direction: column-reverse;
}
#page-intro .page-info-content-left {
  flex: 1;
}
#page-intro .page-info-content-right {
  flex: 1;
}
#page-intro .page-info-content-left ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem;
}
#page-intro .page-info-content-left ul li {
  padding-left: 2.75rem;
  position: relative;
  margin-bottom: 1rem;
}
#page-intro .page-info-content-left ul li h4 {
  margin-left: -1px;
}
#page-intro .page-info-content-left ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 1.85rem;
  height: 1.85rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#page-intro .page-info-content-left ul li.intro-restrict::before {
  background-image: url("../images/icon-intro-restrict.svg");
}
#page-intro .page-info-content-left ul li.intro-emission::before {
  background-image: url("../images/icon-intro-emission.svg");
}
#page-intro .page-info-content-left ul li.intro-sustainable::before {
  background-image: url("../images/icon-intro-sustainable.svg");
}
#page-intro .page-info-content-left ul li.intro-cloud::before {
  background-image: url("../images/icon-intro-cloud.svg");
}
@media (min-width: 720px) {
  #page-intro .page-info-content-left ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  #page-intro .page-info-content-left ul li {
    flex: 0 1 calc(50% - 0.75rem);
    margin-bottom: 0;
  }
}
#page-intro .page-info-content-right {
  width: 100%;
}
#page-intro .page-info-content-right iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  border: none;
  display: block;
  background-image: url("../images/youtube-bg.jpg");
  background-size: cover;
}

#page-methodology {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(28, 30, 34, 0.1);
  margin: 3rem auto;
  padding: 2.5rem 3.25rem;
}
#page-methodology h3 {
  margin-left: -0.1em;
  margin-bottom: 1.25rem;
}
#page-methodology p {
  line-height: 1.75rem;
}
#page-methodology ul {
  list-style: none;
  padding: 0 2rem;
  margin: 0 0 1rem 0;
  text-indent: -1rem;
}
#page-methodology ul li {
  margin-bottom: 0.75rem;
}

#page-infopack .infopack-content {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}
#page-infopack .infopack-content img {
  max-width: 510px;
  min-width: 244px;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
#page-infopack .glide .glide__slides {
  overflow-x: scroll;
}
#page-infopack .glide .glide__arrows button {
  font-family: "Noto Sans Mono", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  width: 2rem;
  height: 100%;
  border-radius: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.66);
  opacity: 0.66;
}
#page-infopack .glide .glide__arrows button:hover {
  opacity: 1;
}
#page-infopack .glide .glide__arrows button.glide__arrow--right {
  right: 0;
}
#page-infopack .glide .glide__arrows button.glide__arrow--left {
  left: 0;
}
#page-infopack .glide .glide__bullets {
  bottom: -1em;
}
#page-infopack .glide .glide__bullets .glide__bullet {
  box-shadow: none;
  background-color: #CFD3DA;
}
#page-infopack .glide .glide__bullets .glide__bullet--active {
  background-color: #98A0AE;
}

#page-links .links-wrapper {
  margin-bottom: 1rem;
}
#page-links .links-wrapper .ejf-logo {
  position: relative;
  z-index: 1;
}
#page-links .links-wrapper .ejf-logo img {
  width: 104px;
  height: 62px;
}
#page-links .social-links {
  display: flex;
  gap: 1.25rem;
  justify-content: left;
}

#page-footer {
  max-width: none;
  width: 100vw;
  position: relative;
  padding: 0;
  margin-top: 1rem;
  background-color: rgba(28, 30, 34, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(28, 30, 34, 0.1);
  text-align: center;
}
#page-footer a {
  text-decoration: underline;
}
#page-footer p {
  margin-bottom: 0.25rem;
  font-size: 0.75em;
  line-height: 1.25rem;
}/*# sourceMappingURL=styles.css.map */