@use 'sass:color';

// ===== Font =====
// @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400&family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

// ===== Reset =====
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-x: hidden;
}
button, input, select, textarea {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// ===== page layout =====
$pageMaxWidth: 800px;
// $receiptMaxWidth: 392px;
$receiptMaxWidth: 320px;
$mobileMaxWidth: $receiptMaxWidth * 2 + (5 * 16px) - 1px;  // 719, chart & receipt both reach < 320px


// ===== 變數區 =====
$font-family: 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size: 16px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-ejf-red: #E30613;
$color-ejf-blue: #54677B;
$color-ejf-gray: #F3F2EF;

// color from graphic
/*
$color-fund-postal: #007D32;
$color-fund-insurance: #8F6400;
$color-fund-labor: #C23C30;
$color-fund-retire: #0549A1;
*/

$fund-colors: (
  legacy: #007D32,
  insurance: #C23C30,
  labor: #AD7900,
  retire: #0549A1
);

$color-neutral-1000: #1C1E22;
$color-neutral-900: #3B4048;
$color-neutral-800: #646D7A;
$color-neutral-700: #7F8A9B;
$color-neutral-600: #98A0AE;
$color-neutral-500: #ACB4BE;
$color-neutral-400: #BFC4CD;
$color-neutral-300: #CFD3DA;
$color-neutral-200: #DEE1E5;
$color-neutral-100: #ECEEF0;
$color-neutral-50: #FAFAFA;
$color-default: $color-neutral-900;

$color-neutral-1000-trans-8: fade-out($color-neutral-1000, 0.92);
$color-neutral-1000-trans-10: fade-out($color-neutral-1000, 0.90);

$color-status-info-500: #6B98E0;

$color-background: $color-ejf-gray;
$background-image: url('../images/grid.png');
$background-size: 1024px;

$icon-right-default: url('../images/icon-right-default.png');
$icon-down-default: url('../images/icon-down-default.png');
$icon-dropdown-default: url('../images/icon-dropdown-default.png');
$icon-dropdown-collapse: url('../images/icon-dropdown-collapse.png');
$icon-right-ejf: url('../images/icon-right-ejf.png');
$icon-down-ejf: url('../images/icon-down-ejf.png');
$icon-download-ejf: url('../images/icon-download-ejf.png');
$icon-right-white: url('../images/icon-right-white.png');
$icon-down-white: url('../images/icon-down-white.png');
$icon-download-white: url('../images/icon-download-white.png');
$icon-heart-white: url('../images/icon-heart-white.png');
$icon-heart-ejf: url('../images/icon-heart-ejf.png');
$icon-copy-white: url('../images/icon-copy-white.png');
$icon-facebook: url('../images/icon-facebook.png');
$icon-line: url('../images/icon-line.png');
$icon-linkedin: url('../images/icon-linkedin.png');
$icon-instagram: url('../images/icon-instagram.png');

$icon-intro-cloud: url('../images/icon-intro-cloud.svg');
$icon-intro-emission: url('../images/icon-intro-emission.svg');
$icon-intro-restrict: url('../images/icon-intro-restrict.svg');
$icon-intro-sustainable: url('../images/icon-intro-sustainable.svg');

// ===== Typography =====

body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-optical-sizing: auto;

  background-color: $color-background;
  // background-image: $background-image;  // unable to see on light bg
  background-size: $background-size;

  min-height: 100vh;

  color: $color-default;
  padding: 0;
  padding-top: env(safe-area-inset-top);
  margin: 0;

  overflow-x: hidden;  // fix ios safari zoom out
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 1.33rem;
  line-height: 2rem;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: $font-weight-bold;
  color: $color-ejf-blue;
  margin: 0 0 1.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $font-weight-bold;

  margin: 0 0 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 0.75rem 0;

  em {
    font-weight: $font-weight-bold;
    font-style: normal;
  }

  small {
    font-size: 0.875rem;
  }

  .underline {
    text-decoration: underline;
  }
}

a {
  color: $color-default;
}


// ===== Color =====

.color-black-bk { background-color: $color-black; }
.color-white-bk { background-color: $color-white; }
.color-transparent-bk { background-color: rgba($color-white, 0%); }

.color-black { color: $color-black; }
.color-white { color: $color-white; }

.color-neutral-1000-bk { background-color: $color-neutral-1000; }
.color-neutral-900-bk { background-color: $color-neutral-900; }
.color-neutral-800-bk { background-color: $color-neutral-800; }
.color-neutral-700-bk { background-color: $color-neutral-700; }
.color-neutral-600-bk { background-color: $color-neutral-600; }
.color-neutral-500-bk { background-color: $color-neutral-500; }
.color-neutral-400-bk { background-color: $color-neutral-400; }
.color-neutral-300-bk { background-color: $color-neutral-300; }
.color-neutral-200-bk { background-color: $color-neutral-200; }
.color-neutral-100-bk { background-color: $color-neutral-100; }
.color-neutral-50-bk { background-color: $color-neutral-50; }

.color-neutral-1000 { color: $color-neutral-1000; }
.color-neutral-900 { color: $color-neutral-900; }
.color-neutral-800 { color: $color-neutral-800; }
.color-neutral-700 { color: $color-neutral-700; }
.color-neutral-600 { color: $color-neutral-600; }
.color-neutral-500 { color: $color-neutral-500; }
.color-neutral-400 { color: $color-neutral-400; }
.color-neutral-300 { color: $color-neutral-300; }
.color-neutral-200 { color: $color-neutral-200; }
.color-neutral-100 { color: $color-neutral-100; }
.color-neutral-50 { color: $color-neutral-50; }


// ===== Icon =====

.icon {
  display: inline-block;
  background-size: cover;

  &.size-48 { width: 48px; height: 48px; }
  &.size-36 { width: 36px; height: 36px; }
  &.size-24 { width: 24px; height: 24px; }
  &.size-16 { width: 16px; height: 16px; }
  &.size-12 { width: 12px; height: 12px; }

  &.right-default { background-image: $icon-right-default; }
  &.down-default { background-image: $icon-down-default; }
  &.dropdown-default { background-image: $icon-dropdown-default; }
  &.dropdown-collapse { background-image: $icon-dropdown-collapse; }
  &.right-ejf { background-image: $icon-right-ejf; }
  &.down-ejf { background-image: $icon-down-ejf; }
  &.download-ejf { background-image: $icon-download-ejf; }
  &.right-white { background-image: $icon-right-white; }
  &.down-white { background-image: $icon-down-white; }
  &.download-white { background-image: $icon-download-white; }
  &.heart-white { background-image: $icon-heart-white; }
  &.copy-white { background-image: $icon-copy-white; }
  &.facebook { background-image: $icon-facebook; }
  &.line { background-image: $icon-line; }
  &.linkedin { background-image: $icon-linkedin; }
  &.instagram { background-image: $icon-instagram; }
}


// ===== Component =====

hr {
  display: block;
  height: 1px;
  border-width: 0 0 1px 0;
  width: 100%;
  margin: 0;

  &.divider-default {
    border-color: $color-neutral-600;
    margin: 1.25rem 0;
  }

  &.divider-receipt {
    border-style: dashed;
    border-color: $color-neutral-600;
    margin: 0.75em 0;
  }
}

@mixin watermark {
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  color: $color-ejf-red;
  opacity: 0.16;
  border-radius: 4px;
  border: 1px solid $color-ejf-red;
  font-size: 1rem;
}

span.watermark {
  @include watermark;
}

.select-wrapper, .input-wrapper {
  width: 100%;

  // FIXME: re-enable when implement help message
  // margin-bottom: 1.25rem; // non-optional help message height
  // &.is-required { margin-bottom: 0; }

  .required-mark {
    color: $color-ejf-red;
    &::before {
      content: "*";
      margin-right: 0.25rem;
    }
  }

  label {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $font-weight-regular;
    margin-bottom: 0.3rem;
    display: block;
  }

  select, input[type="text"], input[type="number"] {
    // 重置 select 預設樣式
    appearance: none;

    width: 100%;
    border: 1px solid $color-neutral-500;
    border-radius: 4px;
    padding: 0.65rem 1rem;
    background-color: transparent;
    font-size: 1rem;

  }

  select {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2398A0AE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px;
    padding-right: 2.5rem;
  }

  /*
  .help {
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
    color: $color-ejf-red;

    visibility: hidden;
  }

  &.is-error {
    .help { visibility: visible; }
    input, select { border-color: $color-ejf-red; }
  }
  */
}

button.big-btn, a.big-btn {
  border-radius: 2px;

  padding: 0.75rem 1.5rem;
  margin-bottom: 0.75rem;

  width: 100%;
  // max-width: 278px;
  height: fit-content;

  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: $font-weight-bold;
  text-align: left;
  text-decoration: none;
  color: $color-white;

  cursor: pointer;
  position: relative;

  border: 2px solid $color-ejf-red;
  background-color: color.scale($color-ejf-red, $lightness: 10%);
  &:hover { background-color: color.scale($color-ejf-red, $lightness: 0%); }
  &:click { background-color: color.scale($color-ejf-red, $lightness: 10%); }
  transition: background-color 0.3s ease;

  &::after {
    background-size: 100%;
    content: "";
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
  }

  @mixin icon-left {
    text-align: right;

    &::after {
      transform: rotate(180deg);
      left: 1rem;
      right: auto;
    }
  }

  &.btn-calculate::after { background-image: $icon-right-white; }
  &.btn-share::after { background-image: $icon-heart-white; }
  &.btn-download::after { background-image: $icon-download-white; }
  &.btn-copy::after { background-image: $icon-copy-white; }
  &.btn-back::after { background-image: $icon-right-white; }
  &.btn-back { @include icon-left; }

  &.color-gray {
    border-color: $color-neutral-900;
    background-color: color.scale($color-neutral-900, $lightness: 10%);
    &:hover { background-color: color.scale($color-neutral-900, $lightness: 0%); }
    &:click { background-color: color.scale($color-neutral-900, $lightness: 10%); }
  }
}

.calculator-wrapper {
  width: 100%;
  // max-width: $receiptMaxWidth;
  padding: 1.25rem;

  border: 1px solid $color-neutral-1000-trans-8;
  box-shadow: -8px 16px 40px $color-neutral-1000-trans-8;
  background-color: $color-white;

  color: $color-default;

  position: relative;
  margin: 0 auto;

  .calculator-title {
    font-size: 0.875rem;
    line-height: 1em;

    color: $color-white;
    background-color: $color-ejf-blue;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: $font-weight-regular;
    text-transform: uppercase;

    display: inline-block;
    padding: 0.33rem 0.4rem;

    left: -1px;
    top: -1px;
    position: absolute;
  }

  .calculator-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-end;

    .input-wrapper, button.big-btn {
      flex: 1 1 auto;
    }
  }

  @media (min-width: ($mobileMaxWidth + 1)) {
    // max-width: none;

    .calculator-content {
      flex-direction: row;
      gap: 0.75rem;

      .big-btn {
        margin-bottom: 0;
        height: calc(2.5rem + 2px);
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1.33rem;
      }
      .input-wrapper, button.big-btn {
        flex-basis: 140px;
      }
    }
  }

}

button.btn-fund {
  all: unset;
  box-sizing: border-box;

  padding: 0.5em 0;
  text-align: center;
  cursor: pointer;
  background-color: $color-background;
  z-index: 1;
  width: calc(5.5rem + 3px);

  p {
    line-height: 1em;
    font-size: 1rem;
    color: $color-neutral-600;
    margin: 0;
  }

  border-radius: 8px;
  border: 1.5px dashed $color-neutral-600;

  &[data-on="true"] {
    border-style: solid;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);

    @each $fund, $color in $fund-colors {
      &[data-fund="#{$fund}"] {
        border-color: $color;
        p { color: $color; }
      }
    }
  }
}


// Marquee Animation Variables
$marquee-speed: 100; // 每秒移動的像素數（不加單位）
$marquee-duration: 26;  // 動畫總時長（秒，不加單位）
$marquee-distance: $marquee-duration * $marquee-speed; // 總移動距離（像素）

.marquee-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 40px;
  position: relative;

  background-color: $color-neutral-1000-trans-10;
  backdrop-filter: blur(6px);
  border: 1px solid $color-neutral-1000-trans-10;

  opacity: 0.9;

  .marquee-content {
    width: #{$marquee-distance}px;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: space-around;

    position: absolute;
    left: 0;
    animation: marquee #{$marquee-duration}s linear infinite;

    &:nth-child(2) {
      left: #{$marquee-distance}px;
    }

    span {
      color: $color-default;
      font-size: 1rem;
      line-height: 1.25rem;
      white-space: nowrap;

      a {
        text-decoration: underline;
      }
    }

    .marquee-divider {
      text-align: center;
      color: fade-out($color-neutral-1000, 0.80);
      &:after { content: "|"; }
    }
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-#{$marquee-distance}px); }
}


.receipt-box {
  // max-width: $receiptMaxWidth; //FIXME: page: receipt need max-width
  width: 100%;
  padding: 2rem 1.25rem 1.5rem;
  box-shadow: -8px 16px 40px $color-neutral-1000-trans-8;

  background: $color-white;

  font-family: "Noto Sans Mono", "Noto Sans TC", sans-serif;
  font-weight: $font-weight-regular;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5em;

  position: relative;

  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 10px;
    background-image: url("../images/receipt_bottom.png");
    background-size: $receiptMaxWidth 10px;
    background-repeat: repeat-x;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  .receipt-section {
    width: 100%;
    p {
      font-size: inherit;
      line-height: 1.5em;
      margin: inherit;
    }
    .small { font-size: 0.85em; }
    .bigger { font-size: 1.25em; }
    .big { font-size: 1.66em; }
    .un-mono { font-family: "Noto Sans TC", sans-serif; }
    .loss { color: $color-ejf-red; }
  }

  .receipt-row {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 1em;
  }

  .receipt-row-center {
    text-align: center;
  }

  .receipt-name {
    font-weight: $font-weight-bold;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .receipt-title {
    font-weight: $font-weight-bold;
  }

  .chart-section {
    margin: 1em 0;
  }

  .chart-row {
    line-height: 1.5em;
    // font-size: 0.9em;
    margin-bottom: 0.5em;

    $donut-size: 94px;

    .chart-image {
      height: $donut-size;
      width: $donut-size;
      margin-right: 1em;
    }

    .chart-text p {
      line-height: 1.25em;
      margin-bottom: 0.25em;
    }
    .small {
      font-size: 0.8em;
    }
  }

  .receipt-table {
    line-height: 1.5em;
    font-size: 0.85em;
    line-height: 1.25em;

    .grid-row-3 {
      display: grid;
      grid-template-columns: 7.5em 1fr 1fr;
      gap: 0.5em 0.7em;
      padding: 0.66em 0;
      border-bottom: 1px solid $color-ejf-gray;
      text-align: right;

      &.dark-border {
        border-color: $color-neutral-600;
      }

      &:first-of-type {
        padding-top: 0.25em;
      }

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0.25em;
      }
    }

    .row-13 { grid-row: 1 / 3; }
    .col-14 { grid-column: 1 / 4; }

    .title { font-weight: $font-weight-bold; }

    .text-left { text-align: left; }

    .v-middle { align-self: center; }

    .v-bottom { align-self: flex-end; }

  }

  .receipt-bottom {
    align-items: center;

    p {
      line-height: 1.5em;
      text-align: center;
    }

    a {
      text-decoration: underline;
      text-align: right;
      display: inline-block;
      padding-top: 1em;
    }

    img {
      width: 80px;
      height: 80px;
      position: relative;
      right: -8px;
    }
  }

  .receipt-funds {
    position: relative;

    &:after {
      content: "不是投資失誤，而是隱藏代價";
      @include watermark;

      position: absolute;
      top: 0.2rem;
      margin-left: 1em;
    }
  }
}


/* 基本版面 CSS */

.container {
  max-width: $pageMaxWidth;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 2rem;
  justify-content: center;
}

#result-column {
  padding-top: 2rem;
  flex-wrap: wrap-reverse;
}
#chart-column { flex: 1 1 $receiptMaxWidth; }
#receipt-column { flex: 0 1 $receiptMaxWidth; }

@media (max-width: $mobileMaxWidth) {
  #receipt-column { flex-grow: 1; }
}

#page-header {
  padding: 2rem 0.5rem 0 1.5rem;
}

// ===== elements =====

#page-header  {
  .title-link {
    text-decoration: none;
  }

#title {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin: 0;
  position: relative;

  img {
    height: 62px;
    width: 104px;
    margin-right: 0.2em;
    position: relative;
    top: 0.25rem;
  }

  @media (max-width: 520px) {
    flex-direction: column;
  }

  img, .title-text { z-index: 1; }
  .title-decoration { z-index: 0; }

  .title-decoration {
    $color-title-decoration: lighten($color-ejf-blue, 10%);

    position: absolute;
    left: 0;
    top: 0.25rem;
    height: 0;
    pointer-events: none;
    opacity: 0.4;

    &::before, &::after {
      content: "";
      position: absolute;
      background: $color-title-decoration;
    }

    // 橫線
    &::before {
      left: -50vw;
      right: -50vw;
      top: 2rem;
      height: 1px;
      width: 200vw;
    }
    // 縱線
    &::after {
      left: 2rem; // 跟 logo 左邊對齊
      top: -75px;
      width: 1px;
      height: var(--decoration-height, 150vh);
    }
  }

  .title-text {
    span, em {
      white-space: nowrap;
    }
    em {
      font-style: normal;
      border: 2.5px solid $color-ejf-red;
      padding: 0 0.1em;
      margin: 0 -0.1em;
    }
  }
  }
}

#subtitle {
  margin: 0 0 2.5rem;
  border-right: 1px solid $color-default;
  display: inline-block;
  padding-right: 1em;
  position: relative;

  line-height: 1.5em;

  font-size: 2rem;
  .large { font-size: 2.66rem; }

  @media (max-width: $mobileMaxWidth) {
    padding-right: 0.5em;
    font-size: 1.5rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: calc(100vw - 100%);
    height: 1px;
    background-color: $color-default;
    transform: translateY(-50%);
  }
}

#marquee {
  margin-top: 2rem;
}

#chart-column {
  .hint {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.9em;
    @media (min-width: ($mobileMaxWidth + 1)) {
      display: none;
    }
  }

  #fund-buttons {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    @media (min-width: ($mobileMaxWidth + 1)) and (max-width: ($pageMaxWidth - 1)),
           (max-width: calc(27.25rem + 12px - 1px)) {
      flex-wrap: wrap;
      max-width: calc((5.5rem * 2 + 1rem) + 6px);
    }
  }

  #return-chart {
    width: calc(100% + 1rem);
    height: 450px;
    margin-left: -1rem;

    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }

}

// ===== Lightbox 分享視窗 =====

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1000;
  align-items: center;
  justify-content: center;

  display: none;

  &.show {
    display: flex;
  }

  .lightbox-content {
    background: linear-gradient(135deg, $color-white, #{darken($color-white, 12%)});
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    border: 1px solid $color-neutral-1000-trans-8;
    max-width: 90vw;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    padding: 2rem;
    color: $color-default;

    p {
      margin-bottom: 0.5rem;
    }

    .close-x {
      position: absolute;
      right: 1rem;
      top: 0.75rem;
      cursor: pointer;
      font-size: 1.5rem;
      line-height: 1em;
      z-index: 1;
      font-family: "Noto Sans Mono", sans-serif;
      transition: all 0.3s ease;
      padding: 0.5rem;

      color: $color-neutral-700;

      &:hover {
        color: $color-neutral-1000;
      }
    }
  }
}

#lightbox-share {
  .lightbox-columns {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .lightbox-left, .lightbox-right {
    flex: 1 1 $receiptMaxWidth;
  }
  .lightbox-right {
    flex-shrink: 0;
  }

  .lightbox-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: $receiptMaxWidth;

    p {
      margin-top: 0;
    }

    .share-section {
      max-width: $receiptMaxWidth;
      width: 100%;
    }

    .share-btns {
      display: flex;
      margin: 1.5rem 0;
      justify-content: space-between;

      a {
        display: inline-block;
        width: 48px;
        height: 48px;
      }
    }

    .back-section {
      margin-top: auto;
      width: 100%;
      max-width: $receiptMaxWidth;
    }

    button.big-btn {
      max-width: 100%;
    }
  }

  h4 {
    margin: 0;
    line-height: 1.5rem;
  }

  #lightbox-receipt-container .receipt-download {
    display: none;
  }
}

#page-mail {
    padding-top: 1.5rem;

    h4 {
      text-align: center;
      line-height: 1.66em;
      margin-bottom: 1.5rem;
      em {
        color: $color-ejf-red;
        font-style: normal;
        padding-left: 0.25em;
      }
    }

    #mail-container {
      margin-top: 2em;
    }

    #mail-switch {
      display: flex;
      gap: 0.75rem;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    .mail-content-template {
      padding: 1.5rem 1.5rem 0.875rem;
      background: $color-white;
      position: relative;

      height: 8.5em;
      overflow: scroll;
      border: 1px solid $color-neutral-300;
      box-shadow: inset 0 -2px 0.5em $color-neutral-300;
    }

    .mail-actions {
      display: flex;
      gap: 0.75rem;
      margin-top: 1.5rem;
      flex-wrap: wrap;
      justify-content: center;

      button, a {
        width: 100%;
        max-width: 280px;
        font-size: 1.25rem;
      }
    }
}

#page-calculator {
  .calculator-intro {
    margin-bottom: 2rem;
    a { text-decoration: none; }
    .small { font-size: 0.875em; }
  }
}

#page-intro {
  background: rgba($color-white, 0.5);
  backdrop-filter: blur(6px);
  border: 1px solid $color-neutral-1000-trans-10;

  .columns { flex-direction: column-reverse; }

  .page-info-content-left { flex: 1; }
  .page-info-content-right { flex: 1; }

  .page-info-content-left {
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 1.5rem;

      li {
        padding-left: 2.75rem;
        position: relative;
        margin-bottom: 1rem;

        h4 {
          margin-left: -1px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.1rem;
          width: 1.85rem;
          height: 1.85rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &.intro-restrict::before { background-image: $icon-intro-restrict; }
        &.intro-emission::before { background-image: $icon-intro-emission; }
        &.intro-sustainable::before { background-image: $icon-intro-sustainable; }
        &.intro-cloud::before { background-image: $icon-intro-cloud; }
      }
    }

    @media (min-width: ($mobileMaxWidth + 1)) {
      ul{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        flex-wrap: wrap;
        li {
          flex: 0 1 calc(50% - 0.75rem);
          margin-bottom: 0;
        }
      }
    }
  }

  .page-info-content-right {
    width: 100%;

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
      height: auto;
      border: none;
      display: block;
      background-image: url("../images/youtube-bg.jpg");
      background-size: cover;
    }
  }
}

#page-methodology {
  background: rgba($color-white, 0.5);
  backdrop-filter: blur(6px);
  border: 1px solid $color-neutral-1000-trans-10;

  margin: 3rem auto;
  padding: 2.5rem 3.25rem;

  h3 {
    margin-left: -0.1em;
    margin-bottom: 1.25rem;
  }
  p {
    line-height: 1.75rem;
  }
  ul {
    list-style: none;
    padding: 0 2rem;
    margin: 0 0 1rem 0;
    text-indent: -1rem;

    li {
      margin-bottom: 0.75rem;
    }
  }
}

#page-infopack {
  .infopack-content {
    img {
      max-width: 510px;
      min-width: 244px;
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
    }
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
  }
  .glide {
    .glide__slides {
      overflow-x: scroll;
    }
    .glide__arrows button {
      font-family: 'Noto Sans Mono', sans-serif;
      font-weight: $font-weight-bold;
      font-size: 1rem;

      width: 2rem;
      height: 100%;
      border-radius: 0;
      padding: 0;

      border: none;
      box-shadow: none;
      text-shadow: none;

      background-color: rgba(255,255,255,0.2);
      color: rgba(255,255,255,0.66);

      opacity: 0.66;
      &:hover { opacity: 1; }
      &.glide__arrow--right { right: 0; }
      &.glide__arrow--left { left: 0; }
    }
    .glide__bullets {
      bottom: -1em;
      .glide__bullet {
        box-shadow: none;
        background-color: $color-neutral-300;
      }
      .glide__bullet--active { background-color: $color-neutral-600; }
    }
  }
}

#page-links {
  .links-wrapper {
    margin-bottom: 1rem;

    .ejf-logo {
      position: relative;
      z-index: 1;
      img {
        width: 104px;
        height: 62px;
      }
    }
  }
  .social-links {
    display: flex;
    gap: 1.25rem;
    justify-content: left;
  }
}

#page-footer {
  max-width: none;
  width: 100vw;
  position: relative;
  padding: 0;
  margin-top: 1rem;

  background-color: $color-neutral-1000-trans-10;
  backdrop-filter: blur(6px);
  border: 1px solid $color-neutral-1000-trans-10;

  text-align: center;

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 0.25rem;
    font-size: 0.75em;
    line-height: 1.25rem;
  }
}
