body {
  font-family: "Metznerweather", "Noto Sans TC", serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
p.bold {
  font-weight: 700;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (max-width: 768px) {
  small {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
small.bold {
  font-weight: 700;
}

.color-black-bk {
  background-color: #000000;
}

.color-white-bk {
  background-color: #FFFFFF;
}

.color-transparent-bk {
  background-color: rgba(255, 255, 255, 0);
}

.color-black {
  color: #000000;
}

.color-white {
  color: #FFFFFF;
}

.color-transparent {
  color: rgba(255, 255, 255, 0);
}

.color-neutral-1000-bk {
  background-color: #1C1E22;
}

.color-neutral-900-bk {
  background-color: #3B4048;
}

.color-neutral-800-bk {
  background-color: #646D7A;
}

.color-neutral-700-bk {
  background-color: #7F8A9B;
}

.color-neutral-600-bk {
  background-color: #98A0AE;
}

.color-neutral-500-bk {
  background-color: #ACB4BE;
}

.color-neutral-400-bk {
  background-color: #BFC4CD;
}

.color-neutral-300-bk {
  background-color: #CFD3DA;
}

.color-neutral-200-bk {
  background-color: #DEE1E5;
}

.color-neutral-100-bk {
  background-color: #ECEEF0;
}

.color-neutral-50-bk {
  background-color: #FAFAFA;
}

.color-neutral-1000 {
  color: #1C1E22;
}

.color-neutral-900 {
  color: #3B4048;
}

.color-neutral-800 {
  color: #646D7A;
}

.color-neutral-700 {
  color: #7F8A9B;
}

.color-neutral-600 {
  color: #98A0AE;
}

.color-neutral-500 {
  color: #ACB4BE;
}

.color-neutral-400 {
  color: #BFC4CD;
}

.color-neutral-300 {
  color: #CFD3DA;
}

.color-neutral-200 {
  color: #DEE1E5;
}

.color-neutral-100 {
  color: #ECEEF0;
}

.color-neutral-50 {
  color: #FAFAFA;
}

.icon {
  display: inline-block;
  background-size: cover;
}
.icon.size-24 {
  width: 24px;
  height: 24px;
}
.icon.size-16 {
  width: 16px;
  height: 16px;
}
.icon.size-12 {
  width: 12px;
  height: 12px;
}
.icon.right-default {
  background-image: url("../images/icon-right-default.png");
}
.icon.down-default {
  background-image: url("../images/icon-down-default.png");
}
.icon.dropdown-default {
  background-image: url("../images/icon-dropdown-default.png");
}
.icon.dropdown-collapse {
  background-image: url("../images/icon-dropdown-collapse.png");
}
.icon.right-ejf {
  background-image: url("../images/icon-right-ejf.png");
}
.icon.down-ejf {
  background-image: url("../images/icon-down-ejf.png");
}
.icon.download-ejf {
  background-image: url("../images/icon-download-ejf.png");
}
.icon.right-white {
  background-image: url("../images/icon-right-white.png");
}
.icon.down-white {
  background-image: url("../images/icon-down-white.png");
}
.icon.download-white {
  background-image: url("../images/icon-download-white.png");
}
.icon.heart-white {
  background-image: url("../images/icon-heart-white.png");
}
.icon.facebook {
  background-image: url("../images/icon-facebook.png");
}
.icon.line {
  background-image: url("../images/icon-line.png");
}
.icon.linkedin {
  background-image: url("../images/icon-linkedin.png");
}
.icon.instagram {
  background-image: url("../images/icon-instagram.png");
}

hr {
  border-width: 0 0 1px 0;
}
hr.divider-default {
  border-color: #BFC4CD;
}
hr.divider-01 {
  border-color: #CFD3DA;
}
hr.divider-02 {
  border-color: #BFC4CD;
}
hr.divider-receipt {
  border-style: dashed;
  border-color: #98A0AE;
}

span.watermark {
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  color: #E30613;
  opacity: 0.16;
  border-radius: 4px;
  border: 1px solid #E30613;
}

.select-wrapper, .input-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}
.select-wrapper .required, .input-wrapper .required {
  color: #E30613;
}
.select-wrapper .required::before, .input-wrapper .required::before {
  content: "*";
  margin-right: 0.25rem;
}
.select-wrapper label, .input-wrapper label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
  display: block;
}
.select-wrapper select, .select-wrapper input[type=text], .input-wrapper select, .input-wrapper input[type=text] {
  width: 100%;
  border: 1px solid #ACB4BE;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  background-color: transparent;
}/*# sourceMappingURL=styles.css.map */