// ===== Font =====
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

// ===== Reset =====
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
button, input, select, textarea {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// ===== RWD mixins =====
@mixin mobile {
  @media (max-width: 768px) { @content; }
}

// ===== 變數區 =====
$font-family: 'Noto Sans TC', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size: 16px;
$font-size-mobile: 14px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-ejf-red: #E30613;
$color-ejf-blue: #54677B;

$color-neutral-1000: #1C1E22;
$color-neutral-900: #3B4048;
$color-neutral-800: #646D7A;
$color-neutral-700: #7F8A9B;
$color-neutral-600: #98A0AE;
$color-neutral-500: #ACB4BE;
$color-neutral-400: #BFC4CD;
$color-neutral-300: #CFD3DA;
$color-neutral-200: #DEE1E5;
$color-neutral-100: #ECEEF0;
$color-neutral-50: #FAFAFA;

$color-neutral-1000-trans-8: fade-out($color-neutral-1000, 0.92);

$color-status-info-500: #6B98E0;

$color-background: #1E1E1E;
$background-image: url('../images/grid.png');
$background-size: 1024px;

$icon-right-default: url('../images/icon-right-default.png');
$icon-down-default: url('../images/icon-down-default.png');
$icon-dropdown-default: url('../images/icon-dropdown-default.png');
$icon-dropdown-collapse: url('../images/icon-dropdown-collapse.png');
$icon-right-ejf: url('../images/icon-right-ejf.png');
$icon-down-ejf: url('../images/icon-down-ejf.png');
$icon-download-ejf: url('../images/icon-download-ejf.png');
$icon-right-white: url('../images/icon-right-white.png');
$icon-down-white: url('../images/icon-down-white.png');
$icon-download-white: url('../images/icon-download-white.png');
$icon-heart-white: url('../images/icon-heart-white.png');
$icon-heart-ejf: url('../images/icon-heart-ejf.png');
$icon-facebook: url('../images/icon-facebook.png');
$icon-line: url('../images/icon-line.png');
$icon-linkedin: url('../images/icon-linkedin.png');
$icon-instagram: url('../images/icon-instagram.png');

// ===== Typography =====

body {
  font-family: $font-family;
  font-weight: $font-weight-regular;

  background-color: $color-background;
  background-image: $background-image;
  background-size: $background-size;

  min-height: 100vh;

  color: $color-white;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: $font-weight-bold;
  @include mobile {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $font-weight-bold;
  @include mobile {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: $font-weight-bold;
  @include mobile {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $font-weight-bold;
  @include mobile {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@mixin font-weight-bold {
  &.bold {
    font-weight: $font-weight-bold;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  @include mobile {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  @include font-weight-bold;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
  @include mobile {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  @include font-weight-bold;
}


// ===== Color =====

.color-black-bk { background-color: $color-black; }
.color-white-bk { background-color: $color-white; }
.color-transparent-bk { background-color: rgba($color-white, 0%); }

.color-black { color: $color-black; }
.color-white { color: $color-white; }

.color-neutral-1000-bk { background-color: $color-neutral-1000; }
.color-neutral-900-bk { background-color: $color-neutral-900; }
.color-neutral-800-bk { background-color: $color-neutral-800; }
.color-neutral-700-bk { background-color: $color-neutral-700; }
.color-neutral-600-bk { background-color: $color-neutral-600; }
.color-neutral-500-bk { background-color: $color-neutral-500; }
.color-neutral-400-bk { background-color: $color-neutral-400; }
.color-neutral-300-bk { background-color: $color-neutral-300; }
.color-neutral-200-bk { background-color: $color-neutral-200; }
.color-neutral-100-bk { background-color: $color-neutral-100; }
.color-neutral-50-bk { background-color: $color-neutral-50; }

.color-neutral-1000 { color: $color-neutral-1000; }
.color-neutral-900 { color: $color-neutral-900; }
.color-neutral-800 { color: $color-neutral-800; }
.color-neutral-700 { color: $color-neutral-700; }
.color-neutral-600 { color: $color-neutral-600; }
.color-neutral-500 { color: $color-neutral-500; }
.color-neutral-400 { color: $color-neutral-400; }
.color-neutral-300 { color: $color-neutral-300; }
.color-neutral-200 { color: $color-neutral-200; }
.color-neutral-100 { color: $color-neutral-100; }
.color-neutral-50 { color: $color-neutral-50; }


// ===== Icon =====

.icon {
  display: inline-block;
  background-size: cover;

  &.size-48 { width: 48px; height: 48px; }
  &.size-24 { width: 24px; height: 24px; }
  &.size-16 { width: 16px; height: 16px; }
  &.size-12 { width: 12px; height: 12px; }

  &.right-default { background-image: $icon-right-default; }
  &.down-default { background-image: $icon-down-default; }
  &.dropdown-default { background-image: $icon-dropdown-default; }
  &.dropdown-collapse { background-image: $icon-dropdown-collapse; }
  &.right-ejf { background-image: $icon-right-ejf; }
  &.down-ejf { background-image: $icon-down-ejf; }
  &.download-ejf { background-image: $icon-download-ejf; }
  &.right-white { background-image: $icon-right-white; }
  &.down-white { background-image: $icon-down-white; }
  &.download-white { background-image: $icon-download-white; }
  &.heart-white { background-image: $icon-heart-white; }
  &.facebook { background-image: $icon-facebook; }
  &.line { background-image: $icon-line; }
  &.linkedin { background-image: $icon-linkedin; }
  &.instagram { background-image: $icon-instagram; }
}


// ===== Component =====

hr {
  display: block;
  height: 1px;
  border-width: 0 0 1px 0;
  width: 100%;

  &.divider-default {
    border-color: $color-neutral-600;
  }

  &.divider-receipt {
    border-style: dashed;
    border-color: $color-neutral-600;
  }
}

@mixin watermark {
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  color: $color-ejf-red;
  opacity: 0.16;
  border-radius: 4px;
  border: 1px solid $color-ejf-red;
  font-size: 1rem;
}

span.watermark {
  @include watermark;
}

.select-wrapper, .input-wrapper {
  width: 100%;

  margin-bottom: 1.25rem;
  &.is-required { margin-bottom: 0; }

  .required-mark {
    color: $color-ejf-red;
    &::before {
      content: "*";
      margin-right: 0.25rem;
    }
  }

  label {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $font-weight-regular;
    margin-bottom: 0.3rem;
    display: block;
  }

  select, input[type="text"], input[type="number"] {
    width: 100%;
    border: 1px solid $color-neutral-500;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    background-color: transparent;

    // 重置 select 預設樣式
    appearance: none;
  }

  select {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2398A0AE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px;
    padding-right: 2.5rem;
  }

  .help {
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
    color: $color-ejf-red;

    visibility: hidden;
  }

  &.is-error {
    .help { visibility: visible; }
    input, select { border-color: $color-ejf-red; }
  }
}

button.big-btn {
  $color-gradient: linear-gradient(90deg, $color-ejf-blue 0%, $color-status-info-500 100%);
  background: $color-gradient;

  border: 2px solid $color-ejf-blue;
  border-image: $color-gradient;
  border-image-slice: 1;

  padding: 0.75rem 1.5rem;
  width: 100%;
  margin-bottom: 0.75rem;

  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: $font-weight-bold;
  text-align: left;
  color: $color-white;

  cursor: pointer;
  position: relative;

  &:hover {
    background: $color-white;
    color: $color-ejf-blue;
  }

  // &:disabled {
  //   background-color: $color-neutral-500;
  //   color: $color-neutral-1000;
  // }

  &::after {
    background-size: 100%;
    content: "";
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
  }

  @mixin icon-left {
    text-align: right;

    &::after {
      transform: rotate(180deg);
      left: 1rem;
      right: auto;
    }
  }

  @mixin icon-right {
    &::after { background-image: $icon-right-white; }
    &:hover::after { background-image: $icon-right-ejf; }
  }
  &.btn-calculate {
    &:hover::after { background-image: $icon-right-ejf; }
  }

  &.btn-share {
    &::after { background-image: $icon-heart-white; }
    &:hover::after { background-image: $icon-heart-ejf; }
  }

  &.btn-back {
    @include icon-left;

    &::after { background-image: $icon-right-white; }
    &:hover::after { background-image: $icon-right-ejf; }
  }

  &.btn-download {
    &::after { background-image: $icon-download-white; }
    &:hover::after { background-image: $icon-download-ejf; }
  }
}

.calculator-wrapper {
  width: 100%;
  max-width: 288px;
  padding: 2.75rem 1.25rem 1.25rem;

  border: 1px solid $color-neutral-1000-trans-8;
  box-shadow: -8px 16px 40px $color-neutral-1000-trans-8;
  background-color: $color-white;

  color: $color-neutral-900;

  position: relative;

  .calculator-title {
    font-size: 0.875rem;
    line-height: 1em;
    font-weight: $font-weight-regular;

    color: $color-white;
    background-color: $color-ejf-blue;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;

    display: inline-block;
    padding: 0.33rem 0.4rem;

    left: -1px;
    top: -1px;
    position: absolute;
  }
}

button.btn-fund {
  background-color: $color-neutral-1000-trans-8;
  background-size: cover;
  backdrop-filter: blur(8px);

  width: 96px;
  height: 52px;

  cursor: pointer;

  p {
    line-height: 1em;
    font-size: 1rem;
    color: $color-neutral-600;
  }

  border-radius: 8px;
  border: 1px dashed $color-neutral-600;

  &[data-on="true"] {
    border-radius: 0px;
    border-color: transparent;

    p { visibility: hidden; }

    &[data-fund="postal"] { background-image: url('../images/fund_postal_on.png'); }
    &[data-fund="insurance"] { background-image: url('../images/fund_insurance_on.png'); }
    &[data-fund="labor"] { background-image: url('../images/fund_labor_on.png'); }
    &[data-fund="retire"] { background-image: url('../images/fund_retire_on.png'); }
  }
}


// Marquee Animation Variables
$marquee-speed: 100; // 每秒移動的像素數（不加單位）
$marquee-duration: 26;  // 動畫總時長（秒，不加單位）
$marquee-distance: $marquee-duration * $marquee-speed; // 總移動距離（像素）

.marquee-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 40px;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  position: relative;

  background-color: fade-out($color-ejf-blue, 0.60);
  backdrop-filter: blur(4px);
  border: 1px solid fade-out($color-white, 0.80);
  border-width: 1px 0;

  opacity: 0.64;

  .marquee-content {
    width: #{$marquee-distance}px;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: space-around;

    position: absolute;
    left: 0;
    animation: marquee #{$marquee-duration}s linear infinite;

    &:nth-child(2) {
      left: #{$marquee-distance}px;
    }

    span {
      color: $color-white;
      font-size: 1rem;
      line-height: 1.25rem;
      white-space: nowrap;

      a {
        color: $color-white;
        text-decoration: underline;
      }
    }

    .marquee-divider {
      text-align: center;
      color: $color-neutral-600;
      &:after { content: "|"; }
    }
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-#{$marquee-distance}px); }
}


.receipt-box {
  max-width: 320px;
  width: 100%;
  padding: 2rem 1.5rem 0.875rem;
  box-shadow: -8px 16px 40px $color-neutral-1000-trans-8;

  background: $color-white;

  font-family: "Noto Sans Mono", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: $color-neutral-900;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;

  position: relative;

  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 10px;
    background-image: url("../images/receipt_bottom.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  .receipt-section {
    width: 100%;
  }

  .receipt-row {
    display: flex;
    justify-content: space-between;
  }

  .receipt-logo {
    height: 70px;
  }

  .receipt-amount-negative {
    color: $color-ejf-red;
  }

  .receipt-bottom {
    span {
      text-align: right;
      flex: 1;
      align-content: center;
      line-height: 1.5em;
      margin-right: -8px;
    }

    img {
      width: 80px;
      height: 80px;
      position: relative;
      right: -8px;
    }
  }

  .receipt-funds {
    position: relative;

    &:after {
      content: "不是投資失誤，而是隱藏代價";
      @include watermark;

      position: absolute;
      top: 1.75rem;
      margin-left: 1em;
    }
  }
}


// ===== page layout =====

/* 基本版面 CSS */
#app {
  padding: 3rem 1.5rem;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 1rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75rem;
  gap: 2rem;
}

.column {
  flex: 1;
}

.column:first-child {
  flex: 0 0 288px;
}

.column:last-child {
  flex: 0 0 320px;
}

/* RWD */
/*
@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }

  .column {
    flex: 1;
    max-width: 100%;
  }

  .title {
    font-size: 2rem;
  }

  .section {
    padding: 2rem 1rem;
  }
}
*/

#title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  position: relative;

  img {
    height: 4rem;
    margin-right: 1rem;
    position: relative;
    top: 0.25rem;
  }

  img, .title-text { z-index: 1; }
  .title-decoration { z-index: 0; }

  .title-decoration {
    $color-title-decoration: #77787a;

    position: absolute;
    left: 0;
    top: 0.25rem;
    height: 0;
    pointer-events: none;

    // 橫線
    &::before {
      content: "";
      position: absolute;
      left: -50vw;
      right: -50vw;
      top: 2rem;
      height: 1px;
      background: $color-title-decoration;
      width: 200vw;
    }
    // 縱線
    &::after {
      content: "";
      position: absolute;
      left: 2rem; // 跟 logo 左邊對齊
      top: -50vh;
      width: 1px;
      height: 300vh;
      background: $color-title-decoration;
    }
  }
}

#subtitle {
  margin: 0 0 2.5rem;
  border-right: 1px solid $color-white;
  display: inline-block;
  padding-right: 1em;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: calc(100vw - 100%);
    height: 1px;
    background-color: $color-white;
    transform: translateY(-50%);
  }
}

#marquee {
  margin: 2rem 0;
}

#chart-column {

  #fund-buttons {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }

  #return-chart {
    width: 100%;
    height: 450px;
    // border: 1px solid green;

    canvas {
      width: 100% !important;
      height: 100% !important;
      // backdrop-filter: blur(8px);
    }
  }

}

#receipt-column {
  // text-align: center;

  .receipt-box {
    margin-bottom: 3rem;
  }

  .receipt-qrcode {
    display: none;
  }

  .receipt-share-btn {
    display: flex;
    justify-content: center;

    button.btn-share {
      width: 100%;
      max-width: 240px;
    }
  }
}

// ===== Lightbox 分享視窗 =====

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  display: none; // 預設隱藏

  .lightbox-content {
    background: linear-gradient(135deg, $color-white, #{darken($color-white, 12%)});
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    border: 1px solid $color-neutral-1000-trans-8;
    max-width: 90vw;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 2rem;
    color: $color-black;

    h4 {
      margin: 0;
      line-height: 1.5rem;
    }
    > hr {
      margin: 1.25rem 0;
    }
  }

  .lightbox-columns {
    display: flex;
    gap: 2rem;
  }

  .lightbox-left, .lightbox-right {
    max-width: 320px;
    width: 100%;
  }

  .lightbox-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 320px;
    color: $color-neutral-900;

    p {
      margin-top: 0;
    }

    $width-share-section: 264px;

    .share-section {
      max-width: $width-share-section;
      width: 100%;
    }

    .share-btns {
      display: flex;
      margin: 1.5rem 0;
      justify-content: space-between;

      a {
        display: inline-block;
        width: 48px;
        height: 48px;
      }
    }

    .back-section {
      margin-top: auto;
      width: 100%;
      max-width: $width-share-section;
    }
  }
}
