@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

button, input, select, textarea {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  background-color: #1E1E1E;
  background-image: url("/images/grid.png");
  background-size: 1024px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
p.bold {
  font-weight: 700;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (max-width: 768px) {
  small {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
small.bold {
  font-weight: 700;
}

.color-black-bk {
  background-color: #000000;
}

.color-white-bk {
  background-color: #FFFFFF;
}

.color-transparent-bk {
  background-color: rgba(255, 255, 255, 0);
}

.color-black {
  color: #000000;
}

.color-white {
  color: #FFFFFF;
}

.color-transparent {
  color: rgba(255, 255, 255, 0);
}

.color-neutral-1000-bk {
  background-color: #1C1E22;
}

.color-neutral-900-bk {
  background-color: #3B4048;
}

.color-neutral-800-bk {
  background-color: #646D7A;
}

.color-neutral-700-bk {
  background-color: #7F8A9B;
}

.color-neutral-600-bk {
  background-color: #98A0AE;
}

.color-neutral-500-bk {
  background-color: #ACB4BE;
}

.color-neutral-400-bk {
  background-color: #BFC4CD;
}

.color-neutral-300-bk {
  background-color: #CFD3DA;
}

.color-neutral-200-bk {
  background-color: #DEE1E5;
}

.color-neutral-100-bk {
  background-color: #ECEEF0;
}

.color-neutral-50-bk {
  background-color: #FAFAFA;
}

.color-neutral-1000 {
  color: #1C1E22;
}

.color-neutral-900 {
  color: #3B4048;
}

.color-neutral-800 {
  color: #646D7A;
}

.color-neutral-700 {
  color: #7F8A9B;
}

.color-neutral-600 {
  color: #98A0AE;
}

.color-neutral-500 {
  color: #ACB4BE;
}

.color-neutral-400 {
  color: #BFC4CD;
}

.color-neutral-300 {
  color: #CFD3DA;
}

.color-neutral-200 {
  color: #DEE1E5;
}

.color-neutral-100 {
  color: #ECEEF0;
}

.color-neutral-50 {
  color: #FAFAFA;
}

.icon {
  display: inline-block;
  background-size: cover;
}
.icon.size-24 {
  width: 24px;
  height: 24px;
}
.icon.size-16 {
  width: 16px;
  height: 16px;
}
.icon.size-12 {
  width: 12px;
  height: 12px;
}
.icon.right-default {
  background-image: url("/images/icon-right-default.png");
}
.icon.down-default {
  background-image: url("/images/icon-down-default.png");
}
.icon.dropdown-default {
  background-image: url("/images/icon-dropdown-default.png");
}
.icon.dropdown-collapse {
  background-image: url("/images/icon-dropdown-collapse.png");
}
.icon.right-ejf {
  background-image: url("/images/icon-right-ejf.png");
}
.icon.down-ejf {
  background-image: url("/images/icon-down-ejf.png");
}
.icon.download-ejf {
  background-image: url("/images/icon-download-ejf.png");
}
.icon.right-white {
  background-image: url("/images/icon-right-white.png");
}
.icon.down-white {
  background-image: url("/images/icon-down-white.png");
}
.icon.download-white {
  background-image: url("/images/icon-download-white.png");
}
.icon.heart-white {
  background-image: url("/images/icon-heart-white.png");
}
.icon.facebook {
  background-image: url("/images/icon-facebook.png");
}
.icon.line {
  background-image: url("/images/icon-line.png");
}
.icon.linkedin {
  background-image: url("/images/icon-linkedin.png");
}
.icon.instagram {
  background-image: url("/images/icon-instagram.png");
}

hr {
  display: block;
  height: 1px;
  border-width: 0 0 1px 0;
  width: 100%;
}
hr.divider-default {
  border-color: #BFC4CD;
}
hr.divider-01 {
  border-color: #CFD3DA;
}
hr.divider-02 {
  border-color: #BFC4CD;
}
hr.divider-receipt {
  border-style: dashed;
  border-color: #98A0AE;
}

span.watermark {
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  color: #E30613;
  opacity: 0.16;
  border-radius: 4px;
  border: 1px solid #E30613;
  font-size: 1rem;
}

.select-wrapper, .input-wrapper {
  width: 100%;
  margin-bottom: 1.25rem;
}
.select-wrapper .required, .input-wrapper .required {
  color: #E30613;
}
.select-wrapper .required::before, .input-wrapper .required::before {
  content: "*";
  margin-right: 0.25rem;
}
.select-wrapper label, .input-wrapper label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
  display: block;
}
.select-wrapper select, .select-wrapper input[type=text], .input-wrapper select, .input-wrapper input[type=text] {
  width: 100%;
  border: 1px solid #ACB4BE;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  background-color: transparent;
}

button.big-btn {
  background: linear-gradient(90deg, #54677B 0%, #6B98E0 100%);
  border: 2px solid #54677B;
  -o-border-image: linear-gradient(90deg, #54677B 0%, #6B98E0 100%);
     border-image: linear-gradient(90deg, #54677B 0%, #6B98E0 100%);
  border-image-slice: 1;
  padding: 0.75rem 1.5rem;
  width: 100%;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}
button.big-btn:hover {
  background: #FFFFFF;
  color: #54677B;
}
button.big-btn::after {
  background-size: 100%;
  content: "";
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
}
button.big-btn.btn-calculate::after {
  background-image: url("/images/icon-right-white.png");
}
button.big-btn.btn-calculate:hover::after {
  background-image: url("/images/icon-right-ejf.png");
}
button.big-btn.btn-share::after {
  background-image: url("/images/icon-heart-white.png");
}
button.big-btn.btn-share:hover::after {
  background-image: url("/images/icon-heart-ejf.png");
}
button.big-btn.btn-back::after {
  background-image: url("/images/icon-right-white.png");
}
button.big-btn.btn-back:hover::after {
  background-image: url("/images/icon-right-ejf.png");
}
button.big-btn.btn-download::after {
  background-image: url("/images/icon-download-white.png");
}
button.big-btn.btn-download:hover::after {
  background-image: url("/images/icon-download-ejf.png");
}

.calculator-wrapper {
  width: 100%;
  max-width: 288px;
  padding: 2.75rem 1.25rem 1.25rem;
  border: 1px solid rgba(28, 30, 34, 0.08);
  box-shadow: -8px 16px 40px rgba(28, 30, 34, 0.08);
  background-color: #FFFFFF;
  position: relative;
}
.calculator-wrapper .calculator-title {
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #54677B;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.33rem 0.4rem;
  left: -1px;
  top: -1px;
  position: absolute;
}

button.btn-fund {
  background-color: rgba(28, 30, 34, 0.08);
  background-size: cover;
  border: none;
  width: 96px;
  height: 52px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #98A0AE;
  cursor: pointer;
  border-radius: 0px;
}
button.btn-fund[data-on=false] {
  border-radius: 8px;
}
button.btn-fund[data-fund=postal] {
  background-image: url("/images/fund_postal_off.png");
}
button.btn-fund[data-fund=postal][data-on=true] {
  background-image: url("/images/fund_postal_on.png");
}
button.btn-fund[data-fund=insurance] {
  background-image: url("/images/fund_insurance_off.png");
}
button.btn-fund[data-fund=insurance][data-on=true] {
  background-image: url("/images/fund_insurance_on.png");
}
button.btn-fund[data-fund=labor] {
  background-image: url("/images/fund_labor_off.png");
}
button.btn-fund[data-fund=labor][data-on=true] {
  background-image: url("/images/fund_labor_on.png");
}
button.btn-fund[data-fund=retire] {
  background-image: url("/images/fund_retire_off.png");
}
button.btn-fund[data-fund=retire][data-on=true] {
  background-image: url("/images/fund_retire_on.png");
}
button.btn-fund p {
  visibility: hidden;
}

.marquee-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 40px;
  background-color: rgba(84, 103, 123, 0.4);
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  position: relative;
}
.marquee-wrapper .marquee-content {
  width: 2600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0;
  animation: marquee 26s linear infinite;
}
.marquee-wrapper .marquee-content:nth-child(2) {
  left: 2600px;
}
.marquee-wrapper .marquee-content span {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.25rem;
  white-space: nowrap;
}
.marquee-wrapper .marquee-content span a {
  color: #FFFFFF;
  text-decoration: underline;
}
.marquee-wrapper .marquee-content .marquee-divider {
  text-align: center;
  color: #98A0AE;
}
.marquee-wrapper .marquee-content .marquee-divider:after {
  content: "|";
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2600px);
  }
}
.receipt-box {
  max-width: 320px;
  width: 100%;
  padding: 2rem 1.5rem 0.875rem;
  box-shadow: -8px 16px 40px rgba(28, 30, 34, 0.08);
  background: #FFFFFF;
  font-family: "Noto Sans Mono", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #3B4048;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
}
.receipt-box::after {
  content: " ";
  display: block;
  width: 100%;
  height: 10px;
  background-image: url("/images/receipt_bottom.png");
  background-size: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.receipt-box .receipt-section {
  width: 100%;
}
.receipt-box .receipt-row {
  display: flex;
  justify-content: space-between;
}
.receipt-box .receipt-logo {
  height: 70px;
}
.receipt-box .receipt-amount-negative {
  color: #E30613;
}
.receipt-box .receipt-bottom span {
  text-align: right;
  flex: 1;
  align-content: center;
  line-height: 1.5em;
}
.receipt-box .receipt-bottom img {
  width: 80px;
  height: 80px;
  position: relative;
  right: -8px;
}
.receipt-box .receipt-funds {
  position: relative;
}
.receipt-box .receipt-funds:after {
  content: "不是投資失誤，而是隱藏代價";
  display: inline-block;
  padding: 0.75rem 1rem;
  line-height: 1rem;
  color: #E30613;
  opacity: 0.16;
  border-radius: 4px;
  border: 1px solid #E30613;
  font-size: 1rem;
  position: absolute;
  top: 1.75rem;
  margin-left: 1em;
}/*# sourceMappingURL=styles.css.map */