<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>政府四大基金投資報酬計算機</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div id="app">
      <div class="container">
        <h1 id="title">
          <img src="images/ejf-logo-white.png" alt="EJF Logo">
          <span class="title-text">政府四大基金投資報酬計算機</span>
          <span class="title-decoration"></span>
        </h1>

        <div id="marquee">
          <div class="marquee-wrapper">
            <!--
              無 JS 走馬燈
              考慮到目前常見的 UltraWide 5K 螢幕寬度為 2560@2x
              marquee-content 的寬度固定為 $marquee-speed x $marquee-duration (100x26=2600px)
              內容根據長度而調整重複的次數，以便讓間隔呈現較為均勻
            -->
            <div class="marquee-content">
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
            </div>
            <div class="marquee-content">
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
            </div>
          </div>
        </div>

        <h2 id="subtitle">
          看似穩健的基金收益，可能正默默助長氣候危機。<br>
          試算一下，他們對您的資產和環境造成多少「隱形成本」？
        </h2>

        <div class="columns">
          <!-- 左側輸入表單部分 -->
          <div id="calculator-column" class="column">

            <div class="calculator-wrapper">
              <span class="calculator-title">Calculator</span>

              <div class="calculator-content">
                <div class="input-wrapper">
                  <label for="calculator-input-name">
                    <span class="required"></span>您的名字
                  </label>
                  <input id="calculator-input-name" type="text" placeholder="請輸入您的名字..." v-model="userName">
                </div>

                <div class="input-wrapper">
                  <label for="calculator-input-salary">
                    <span class="required"></span>平均月薪
                  </label>
                  <input id="calculator-input-salary" type="number" inputmode="tel" placeholder="請輸入平均月薪..." v-model.number="monthlyIncome">
                </div>

                <div class="input-wrapper">
                  <label for="calculator-input-age">
                    <span class="required"></span>年齡
                  </label>
                  <input id="calculator-input-age" type="number" inputmode="tel" placeholder="請輸入年齡..." v-model.number="age">
                </div>

                <div class="select-wrapper">
                  <label for="calculator-select-public-servant">
                    <span class="required"></span>是否為公務員
                  </label>
                  <select id="calculator-select-public-servant" v-model="isGovernmentEmployee">
                    <option value="yes">是</option>
                    <option value="no">否</option>
                  </select>
                </div>

                <button class="big-btn btn-calculate" @click="calculate">計算</button>
              </div>
            </div>

          </div>

          <!-- 中間圖表區域 -->
          <div id="chart-column" class="column">

            <div id="fund-buttons">
              <button class="btn-fund" data-fund="postal" :data-on="funds.postal" @click="toggleFund('postal')">
                <p>郵政儲金</p>
              </button>
              <button class="btn-fund" data-fund="insurance" :data-on="funds.insurance" @click="toggleFund('insurance')">
                <p>勞保基金</p>
              </button>
              <button class="btn-fund" data-fund="labor" :data-on="funds.labor" @click="toggleFund('labor')">
                <p>勞退基金</p>
              </button>
              <button class="btn-fund" data-fund="retire" :data-on="funds.retire" @click="toggleFund('retire')">
                <p>退撫基金</p>
              </button>
            </div>

            <div id="return-chart">
              <canvas id="return-chart-canvas"></canvas>
            </div>

          </div>

          <!-- 右側計算結果 -->
          <div id="receipt-column" class="column">

            <div class="receipt-box">
              <img class="receipt-logo" src="images/ejf-logo-black.png" alt="EJF Logo">

              <div class="receipt-datetime">
                {{ currentDateTime }}
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section">
                <div class="receipt-row">
                  <span>Customer Name</span>
                  <span>{{ userName }}</span>
                </div>
                <div class="receipt-row">
                  <span>Customer Type</span>
                  <span>{{ isGovernmentEmployee === 'yes' ? 'Civil Servant' : 'Citizen' }}</span>
                </div>
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section">
                <div class="receipt-row">
                  <span>總計投入金額</span>
                  <span class="receipt-amount">{{ formatNumber(totalInvestment) }}</span>
                </div>
                <div class="receipt-row">
                  <span>預期報酬</span>
                  <span class="receipt-amount">{{ formatNumber(expectedReturn) }}</span>
                </div>
              </div>

              <hr class="divider-receipt" v-if="hasActiveFunds" />

              <div class="receipt-section receipt-funds" v-if="hasActiveFunds">
                <div class="receipt-row" v-if="funds.postal">
                  <span>郵政儲金</span>
                  <span class="receipt-multiplicator">x {{ fundMultipliers.postal }}</span>
                </div>
                <div class="receipt-row" v-if="funds.insurance">
                  <span>勞保基金</span>
                  <span class="receipt-multiplicator">x {{ fundMultipliers.insurance }}</span>
                </div>
                <div class="receipt-row" v-if="funds.labor">
                  <span>勞退基金</span>
                  <span class="receipt-multiplicator">x {{ fundMultipliers.labor }}</span>
                </div>
                <div class="receipt-row" v-if="funds.retire">
                  <span>退撫基金</span>
                  <span class="receipt-multiplicator">x {{ fundMultipliers.retire }}</span>
                </div>
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section">
                <div class="receipt-row">
                  <span>Total</span>
                  <span>{{ formatNumber(total) }}</span>
                </div>
                <div class="receipt-row">
                  <span>與投入報酬相比</span>
                  <span :class="amountClass(investmentDiff)">
                    {{ formatNumber(investmentDiff) }}
                  </span>
                </div>
                <div class="receipt-row">
                  <span>與預期報酬相比</span>
                  <span :class="amountClass(returnDiff)">
                    {{ formatNumber(returnDiff) }}
                  </span>
                </div>
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section receipt-qrcode">
                <div class="receipt-row receipt-bottom">
                  <span>
                    這筆帳，該算清楚了。<br>
                    試算你的投資報酬與碳排代價 →
                  </span>
                  <img class="qr" src="images/qrcode.png" alt="" class="receipt-qrcode">
                </div>
              </div>

            </div>

            <div class="receipt-share-btn">
              <button class="big-btn btn-share" onclick="openShareLightbox()">心碎分享</button>
            </div>

          </div>

        </div>
      </div>
  </div>

  <!-- Lightbox 分享視窗 -->
  <div id="share-lightbox" class="lightbox" onclick="closeShareLightbox()">
    <div class="lightbox-content" onclick="event.stopPropagation()">
      <h4>四大基金畢業收據</h4>
      <hr class="divider-default" />

      <div class="lightbox-columns">
        <!-- 左欄：文字、按鈕 -->
        <div class="lightbox-left">
          <div class="share-text">
            <p>這是你從四大基金「畢業」的成績單。<br>投資回報一覽無遺，連同對環境的無聲代價。</p>
            <p>心碎了嗎？你不是一個人。<br>分享這張收據，讓更多人重新檢視這筆「國家級投資」。</p>
          </div>

          <div class="share-section">
            <div class="share-btns">
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://positronic-lab.github.io/ejf/" target="_blank" title="分享到 Facebook">
                <span class="icon size-48 facebook"></span>
              </a>

              <a href="https://lineit.line.me/share/ui?url=https://positronic-lab.github.io/ejf/" target="_blank" title="分享到 Line">
                <span class="icon size-48 line"></span>
              </a>

              <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://positronic-lab.github.io/ejf/" target="_blank" title="分享到 LinkedIn">
                <span class="icon size-48 linkedin"></span>
              </a>

              <a href="https://www.instagram.com/share?url=https://positronic-lab.github.io/ejf/" target="_blank" title="分享到 Instagram">
                <span class="icon size-48 instagram"></span>
              </a>
            </div>

            <button class="big-btn btn-download" onclick="downloadImage()">下載圖檔</button>
          </div>

          <div class="back-section">
            <button class="big-btn btn-back" onclick="closeShareLightbox()">再算(ㄠ)一下</button>
          </div>
        </div>

        <!-- 右欄：receipt 副本 -->
        <div class="lightbox-right">
          <div id="lightbox-receipt-container">
            <!-- 複製的 receipt 會放在這裡 -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.17/vue.global.prod.min.js" integrity="sha512-B+xT9hBEokScoEYqF2L6zjF/R0mtYb11XURk2ERx89eRofWtgsrCljvx30JospRZRI3v19p9pRWvmLQ6ySS9FA==" crossorigin="anonymous" referrerpolicy="no-referrer" onerror="this.src='lib/vue.global.prod.min.js'"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5/dist/chart.umd.min.js" integrity="sha256-Lye89HGy1p3XhJT24hcvsoRw64Q4IOL5a7hdOflhjTA=" crossorigin="anonymous" onerror="this.src='lib/chart.umd.min.js'"></script>

  <!-- App -->
  <script src="js/app.js"></script>
</body>

</html>