<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex"> <!-- FIXME: 上線到正式網址再移除 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>政府四大基金投資報酬計算機（開發預覽版）</title>
  <link rel="icon" type="image/png" href="images/fav-icon-grey.png">

  <!-- FIXME: 設定正確的 canonical 與分享文案，並設定 og:image -->
  <meta name="canonical" content="https://ejf.pages.dev/">
  <meta property="og:url" content="https://ejf.pages.dev/">
  <!--
  <meta name="description" content="政府四大基金投資報酬計算機">
  <meta property="og:description" content="政府四大基金投資報酬計算機">
  -->
  <meta property="og:image" content="https://ejf.pages.dev/ejf/images/og-image.png">

  <link rel="stylesheet" href="css/styles.css">
  <!--
  本頁支援以下網址參數（Query String）：

  選填參數（會預先填入表單並自動計算）：
  - income: 平均月薪（數字）
  - age: 年齡（數字，18-59歲）
  - funds: 基金類型（legacy/insurance/labor/retire，預設 labor）

  範例：
  index.html?income=50000&age=30&funds=retire
  -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net">

  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.17/vue.global.prod.min.js" as="script" integrity="sha512-B+xT9hBEokScoEYqF2L6zjF/R0mtYb11XURk2ERx89eRofWtgsrCljvx30JospRZRI3v19p9pRWvmLQ6ySS9FA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/chart.js@4.5/dist/chart.umd.min.js" as="script" integrity="sha256-Lye89HGy1p3XhJT24hcvsoRw64Q4IOL5a7hdOflhjTA=" crossorigin="anonymous">
  <link rel="preload" href="js/app.js" as="script">
</head>

<body>
  <div id="app">
      <div id="page-header" class="container">
        <h1 id="title">
          <img src="images/ejf-logo-color.png" alt="EJF Logo">
          <span class="title-text">政府四大基金<em>投資報酬</em>計算機</span>
          <span class="title-decoration"></span>
        </h1>

        <div id="marquee">
          <div class="marquee-wrapper">
            <!--
              無 JS 走馬燈
              考慮到目前常見的 UltraWide 5K 螢幕寬度為 2560@2x
              marquee-content 的寬度固定為 $marquee-speed x $marquee-duration (100x26=2600px)
              內容根據長度而調整重複的次數，以便讓間隔呈現較為均勻
            -->
            <div class="marquee-content">
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
            </div>
            <div class="marquee-content">
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
              <span>計算方式參考「環境正義基金會 (EJF) 」的<a
                  href="https://ejfoundation.org/reports/%E7%81%AB%E4%B8%8A%E5%8A%A0%E6%B2%B9-%E8%87%BA%E7%81%A3%E6%94%BF%E5%BA%9C%E5%9F%BA%E9%87%91%E6%9C%AA%E7%9B%A1%E5%BF%A0%E8%AA%A0%E7%BE%A9%E5%8B%99-%E5%8A%A9%E9%95%B7%E6%B0%A3%E5%80%99%E5%8D%B1%E6%A9%9F-%E5%8D%B1%E5%8F%8A%E6%B0%91%E7%9C%BE%E8%B3%87%E7%94%A2"
                  target="_blank">《火上加油》報告</a></span>
              <span class="marquee-divider"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="page-calculator" class="container">

        <h2 id="subtitle">
          看似穩健的基金收益，可能正默默助長氣候危機。<br>
          試算一下，他們對您的資產和環境造成多少「隱形成本」？
        </h2>

        <div class="columns">
          <!-- 左側輸入表單部分 -->
          <div id="calculator-column">

            <div class="calculator-wrapper">
              <span class="calculator-title">Calculator</span>

              <div class="calculator-content">
                <div class="input-wrapper">
                  <label for="calculator-input-name">
                    您的名字
                  </label>
                  <input id="calculator-input-name" type="text" placeholder="請輸入您的名字..." v-model="userName">
                </div>

                <div class="input-wrapper is-required" v-bind:class="{ 'is-error': monthlyIncomeError }">
                  <label for="calculator-input-salary">
                    <span class="required-mark"></span>平均月薪
                  </label>
                  <input id="calculator-input-salary" type="number" inputmode="tel" placeholder="請輸入平均月薪..." v-model.number="monthlyIncome">
                  <span class="help">請輸入月薪</span>
                </div>

                <div class="input-wrapper is-required" v-bind:class="{ 'is-error': ageError }">
                  <label for="calculator-input-age">
                    <span class="required-mark"></span>年齡
                  </label>
                  <input id="calculator-input-age" type="number" inputmode="tel" placeholder="請輸入年齡..." v-model.number="age">
                  <span class="help">請輸入有效年齡（18-64歲）</span>
                </div>

                <button class="big-btn btn-calculate color-gray" @click="calculate">計算</button>
              </div>
            </div>

          </div>

          <!-- 中間圖表區域 -->
          <div id="chart-column">

            <div id="fund-buttons">
              <button class="btn-fund" data-fund="insurance" :data-on="funds == 'insurance'" @click="toggleFund('insurance')">
                <p>勞保基金</p>
              </button>
              <button class="btn-fund" data-fund="labor" :data-on="funds == 'labor'" @click="toggleFund('labor')">
                <p>勞退基金</p>
              </button>
              <button class="btn-fund" data-fund="retire" :data-on="funds == 'retire'" @click="toggleFund('retire')">
                <p>退撫基金</p>
              </button>
              <button class="btn-fund" data-fund="legacy" :data-on="funds == 'legacy'" @click="toggleFund('legacy')">
                <p>舊制勞退</p>
              </button>
            </div>

            <div id="return-chart">
              <canvas id="return-chart-canvas"></canvas>
            </div>

          </div>

          <!-- 右側計算結果 -->
          <div id="receipt-column">

            <div class="receipt-box">
              <img class="receipt-logo" src="images/ejf-logo-black.png" alt="EJF Logo">

              <div class="receipt-datetime">
                {{ formattedDateTime }}
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section">
                <div class="receipt-row">
                  <span>Name</span>
                  <span>{{ userName }}</span>
                </div>
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section">
                <div class="receipt-row">
                  <span>總計投入金額</span>
                  <span class="receipt-amount">{{ formatNumber(totalInvestment) }}</span>
                </div>

                <div class="receipt-row">
                  <span>預期報酬</span>
                  <span class="receipt-amount">{{ formatNumber(expectedReturn) }}</span>
                </div>
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section receipt-funds">
                <div class="receipt-row">
                  <span v-if="funds == 'insurance'">勞保基金</span>
                  <span v-if="funds == 'labor'">勞退基金</span>
                  <span v-if="funds == 'retire'">退撫基金</span>
                  <span v-if="funds == 'legacy'">舊制勞退</span>
                </div>

                <div class="receipt-row">
                  <span>實際報酬</span>
                  <span class="receipt-amount">{{ formatNumber(totalReturn) }}</span>
                </div>
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section">
                <div class="receipt-row">
                  <span>與投入報酬相比</span>
                  <span :class="amountClass(investmentDiff)">
                    {{ formatNumber(investmentDiff) }}
                  </span>
                </div>

                <div class="receipt-row">
                  <span>與預期報酬相比</span>
                  <span :class="amountClass(returnDiff)">
                    {{ formatNumber(returnDiff) }}
                  </span>
                </div>
              </div>

              <hr class="divider-receipt" />

              <div class="receipt-section receipt-qrcode">
                <div class="receipt-row receipt-bottom">
                  <span>
                    這筆帳，該算清楚了。<br>
                    試算你的投資報酬與碳排代價 →
                  </span>
                  <img src="images/qrcode.png" alt="https://divest4future.ejfoundation.org/">
                </div>
              </div>

            </div>

            <div class="receipt-btn" v-if="totalInvestment > 0">
              <button class="big-btn btn-calculate color-gray" >立刻連署</button>
            </div>

            <div class="receipt-btn" v-if="totalInvestment > 0">
              <button class="big-btn btn-share" @click="openShareLightbox">心碎分享</button>
            </div>

          </div>
        </div>
      </div>

      <div id="page-intro" class="container">
        <h3>不透明的投資策略</h3>

        <div class="columns">

          <div class="page-info-content-left">
            <p>
              基金投資有賺有賠。<br>
              那你知道政府基金的氣候風險，會讓你賠多少嗎？
            </p>
            <ul>
              <li class="intro-restrict">
                <h4>未盡忠誠義務</h4>
                <p>政府基金未納入氣候風險與永續考量，忽視受益人利益。</p>
              </li>
              <li class="intro-emission">
                <h4>避免擱淺資產</h4>
                <p>繼續投資化石燃料恐導致資產貶值與聲譽風險，增加擱淺資產風險。</p>
              </li>
              <li class="intro-sustainable">
                <h4>促進淨零轉型</h4>
                <p>公共資金應引導低碳轉型，帶動民間投資，實現2050年淨零目標。</p>
              </li>
              <li class="intro-cloud">
                <h4>減緩氣候變遷</h4>
                <p>撤資化石燃料、改投再生能源，是減緩氣候災難的關鍵手段。</p>
              </li>
            </ul>

            <button class="big-btn btn-share">連署</button>
          </div>

          <div class="page-info-content-right">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/T584OP-MLLQ?si=e8Q0r5aVWrfmfDaF&rel=0&widget_referrer=https%3A%2F%2Fdivest4future.ejfoundation.org"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

        </div>
      </div>

      <!--
      <div id="page-infopack" class="container">
        <h3>議題懶人包</h3>
        <img src="images/infopack.png" alt="議題懶人包">
      </div>
      -->

      <div id="page-footer" class="container">
        <p>
          <a href="https://www.facebook.com/EJFTaiwan/" target="_blank">環境正義基金會</a> (<abbr title="Environmental Justice Foundation">EJF</abbr>)、
          <a href="https://ocf.tw" target="_blank">財團法人開放文化基金會</a> (<abbr title="Open Culture Foundation">OCF</abbr>)；
          <a href="https://www.linkedin.com/in/chung-an-wu/" target="_blank">Chung-An Wu</a> (designer)
        </p>
        <p>
          除另有標示外，<a href="https://github.com/ocftw/ejf-calculator/" target="_blank">本站程式碼</a> 以 <a href="https://zh.wikipedia.org/zh-tw/GNU_Affero%E9%80%9A%E7%94%A8%E5%85%AC%E5%85%B1%E8%AE%B8%E5%8F%AF%E8%AF%81" target="_blank">GNU AGPLv3</a>釋出，內容以<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">創用 CC 姓名標示 4.0</a> 或更新版授權條款釋出
        </p>
      </div>
  </div>

  <!-- Lightbox 分享視窗 -->
  <div id="share-lightbox" class="lightbox" onclick="lightbox.closeShareLightbox()">
    <div class="lightbox-content" onclick="event.stopPropagation()">
      <h4>四大基金畢業收據</h4>
      <hr class="divider-default" />

      <div class="lightbox-columns">
        <div class="lightbox-left">
          <div class="share-text">
            <p>這是你從四大基金「畢業」的成績單。<br>投資回報一覽無遺，連同對環境的無聲代價。</p>
            <p>心碎了嗎？你不是一個人。<br>分享這張收據，讓更多人重新檢視這筆「國家級投資」。</p>
          </div>

          <!-- FIXME: 考慮哪些社群要直接分享圖片，哪些要分享網址 -->
          <div class="share-section">
            <div class="share-btns">
              <a href="https://www.facebook.com/sharer/sharer.php?u=${shareUrl}" target="_blank" title="分享到 Facebook">
                <span class="icon size-48 facebook"></span>
              </a>

              <a href="https://lineit.line.me/share/ui?url=${shareUrl}" target="_blank" title="分享到 Line">
                <span class="icon size-48 line"></span>
              </a>

              <a href="https://www.linkedin.com/shareArticle?mini=true&url=${shareUrl}" target="_blank" title="分享到 LinkedIn">
                <span class="icon size-48 linkedin"></span>
              </a>

              <a href="https://www.instagram.com/share?url=${shareUrl}" target="_blank" title="分享到 Instagram">
                <span class="icon size-48 instagram"></span>
              </a>
            </div>

            <button class="big-btn btn-download" onclick="lightbox.downloadImage()">下載圖檔</button>
          </div>

          <div class="back-section">
            <button class="big-btn btn-back" onclick="lightbox.closeShareLightbox()">再算(ㄠ)一下</button>
          </div>
        </div>

        <div class="lightbox-right">
          <div id="lightbox-receipt-container">
            <!-- 複製的 receipt 會放在這裡 -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.17/vue.global.prod.min.js" integrity="sha512-B+xT9hBEokScoEYqF2L6zjF/R0mtYb11XURk2ERx89eRofWtgsrCljvx30JospRZRI3v19p9pRWvmLQ6ySS9FA==" crossorigin="anonymous" referrerpolicy="no-referrer" onerror="this.src='lib/vue.global.prod.min.js'"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5/dist/chart.umd.min.js" integrity="sha256-Lye89HGy1p3XhJT24hcvsoRw64Q4IOL5a7hdOflhjTA=" crossorigin="anonymous" onerror="this.src='lib/chart.umd.min.js'"></script>

  <script src="js/app.js"></script>
</body>

</html>