<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>畢業收據 - 政府四大基金氣候損益計算機</title>
  <link rel="icon" type="image/png" href="images/fav-icon-grey.png">
  <link rel="stylesheet" href="css/styles.css">
  <style>
    body {
      background: #ECEEF0;
      min-height: 750px;
      height: 100vh;
    }
    #app {
      padding: 0.5rem 0.5rem 1rem;
    }
  </style>
</head>

<body data-mode="receipt">
  <!--
    本頁支援以下網址參數（Query String）：

    必填參數：
    - name
    - income：平均月薪（數字）
    - age：年齡（數字）
    - current：自訂收據時間（字串，ISO 8601 格式，如 2025-06-26T12:00:00，無需時區）
    - funds：基金類型 (labor,legacy,insurance,retire，預設 labor）
  -->
  <div id="app">
    <div class="receipt-box">
      <!-- <img class="receipt-logo" src="images/ejf-logo-black.png" alt="EJF Logo"> -->

      <div class="receipt-section">
        <div class="receipt-row-center">
          <span class="receipt-name">{{ userName }}</span>
        </div>
        <div class="receipt-row-center">
          <span class="receipt-title">四大基金氣候損益對帳單</span>
        </div>
        <div class="receipt-row-center">
          <span class="small">{{ currentDateTime }}</span>
        </div>
      </div>

      <hr class="divider-receipt" />

      <div class="receipt-section">
        <div class="receipt-row-center">
          <p class="un-mono">若四大基金維持目前的投資策略，<br><em>2050 年</em>，你的退休金可能損失多少？</p>
        </div>
      </div>

      <hr class="divider-receipt" />

      <div class="receipt-section chart-section">
        <div class="receipt-row chart-row">
          <div class="chart-image">
            <!--
              svg 圓餅圖
              減損 x% 時：
              1. 第 2 個 circle 的 stroke-dasharray="60 40"，40 是減損的範圍，60 是未減損的範圍，合計 100，所以減損 x% 時 stroke-dasharray = `{100-x} {x}`
              2. 第 4 個 circle 的 rotate(n 21 21)，n 是由右邊起算的 360 度，所以 減損 x% 時 transform = `rotate({360 - (x/100 * 360) - 90} 21 21)`
            -->
            <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
              <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#E30613" stroke-width="7"></circle>
              <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#3B4048" stroke-width="7" :stroke-dasharray="donut_strokeDasharray" stroke-dashoffset="25"></circle>
              <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="white" stroke-width="8" stroke-dasharray="1.5 98.5" stroke-dashoffset="0" transform="rotate(-91 21 21)"></circle>
              <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="white" stroke-width="8" stroke-dasharray="1.5 98.5" stroke-dashoffset="0" :transform="donut_transform"></circle>
            </svg>
          </div>
          <div class="chart-text un-mono">
            <p class="bigger">
              <em>{{ userName }}<template v-if="!userName">您</template>的資產</em>
            </p>
            <p class="bigger">
              <em>將減損 <span class="big loss">{{ expectedMinusRatio }}</span> %</em>
            </p>
          </div>
        </div>
      </div>

      <hr class="divider-receipt" />

      <div class="receipt-section receipt-qrcode">
        <div class="receipt-row receipt-bottom">
          <p>
            回到四大基金<br>氣候損益計算機⭢<br>
            <a v-if="!isReceiptMode" class="receipt-download small" href="javascript:void(0);" @click.stop.prevent="downloadImageDirectly">下載圖檔，分享出去</a>
          </p>
          <img v-if="isReceiptMode" src="images/qrcode.png" alt="https://divest4future.ejfoundation.org/">
        </div>
      </div>

    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.17/vue.global.prod.min.js" integrity="sha512-B+xT9hBEokScoEYqF2L6zjF/R0mtYb11XURk2ERx89eRofWtgsrCljvx30JospRZRI3v19p9pRWvmLQ6ySS9FA==" crossorigin="anonymous" referrerpolicy="no-referrer" onerror="this.src='lib/vue.global.prod.min.js'"></script>
  <script src="js/app.js"></script>
</body>
</html>